extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')
  link(rel='stylesheet' href=fileName + '.min.css')

block scripts
  script(src='../../js/index.js')

block variables
  -
    const fileName = 'restructuring-info'
    const pageTitle ='Реструктуризация кредитов'

block content
  main
    +banner
      +banner__item('--restructuring-info')
        +banner__wrapper('img/banner_restructuring-info.jpg')
          +banner__h1('Реструктуризация кредитов')
    .page-content
      +section('--mt0')
        .inner
          .ui-h1 Ответы на часто задаваемые вопросы
      +section('--mt-s')
        .inner
          +section-head
            +ui-h2('Предоставление льготного периода в рамках Закона <span class="text-nowrap">№ 106-ФЗ</span>', 'section-head')
          +accordion
            +accordion-item('Что такое льготный период?')
              p Изменение условий кредитного договора, предусматривающее приостановление (отсрочку) исполнения заемщиком своих обязательств на срок до&nbsp;6&nbsp;месяцев.
            +accordion-item('Кто может воспользоваться льготным периодом?')
              p Заемщики - субъекты малого и&nbsp;среднего предпринимательства, осуществляющие деятельность в&nbsp;отраслях, определенных Правительством Российской Федерации (Постановление №&nbsp;337 от 10.03.2022&nbsp;г.), заключившие кредитные договоры до&nbsp;1&nbsp;марта 2022&nbsp;года.
              p Право на&nbsp;получение льготного периода распространяется на&nbsp;заемщиков, обратившихся к&nbsp;кредитору в&nbsp;период с&nbsp;1&nbsp;марта по&nbsp;30&nbsp;сентября 2022&nbsp;года.
              p Права на&nbsp;получение льготного периода не&nbsp;лишены заемщики, которые ранее обращались за&nbsp;льготным периодом до&nbsp;30&nbsp;сентября 2020&nbsp;года.
              p Заемщик, являющийся индивидуальным предпринимателем, не&nbsp;вправе обратиться к кредитору за льготным периодом по статье 7 Закона №&nbsp;106-ФЗ, если в отношении кредитного договора уже был установлен льготный период согласно статье 6 Закона №&nbsp;106-ФЗ.
            +accordion-item('Какие условия получения льготного периода?')
              p Дата начала льготного периода не&nbsp;может быть ранее дня направления обращения заемщика к&nbsp;кредитору.
              p Длительность льготного периода не&nbsp;более 6&nbsp;месяцев.
              p Для юридических лиц предоставляется отсрочка погашения основного долга и&nbsp;процентов.
              p Для индивидуальных предпринимателей&nbsp;— отсрочка погашения основного долга и&nbsp;процентов, либо уменьшение размера платежей в&nbsp;течение льготного периода.
              p После установления льготного периода обязательства кредитора по&nbsp;предоставлению денежных средств заемщику приостанавливаются на&nbsp;весь срок действия льготного периода.
              p Заемщик вправе в&nbsp;любой момент в&nbsp;течение льготного периода досрочно погасить сумму (часть суммы) кредита без прекращения льготного периода. При погашении всей суммы отсроченных платежей действие льготного периода прекращается.
              p Заемщик вправе в&nbsp;любой момент в&nbsp;течение льготного периода прекратить действие льготного периода, направив кредитору уведомление об&nbsp;этом.
            +accordion-item('Как получить льготный период?')
              p С&nbsp;1&nbsp;марта по&nbsp;30&nbsp;сентября 2022 года обратиться к&nbsp;кредитору с&nbsp;заявлением о&nbsp;предоставлении льготного периода.
            +accordion-item('Какие документы нужны для получения льготного периода?')
              p Заявление заемщика на&nbsp;предоставление льготного периода в&nbsp;соответствии с&nbsp;Законом №&nbsp;106-ФЗ, с&nbsp;указанием на&nbsp;отсрочку исполнения своих обязательств по&nbsp;кредитному договору (для индивидуальных предпринимателей вместо отсрочки возможно уменьшение размера платежей).
            +accordion-item('Порядок начисления и уплаты платежей по окончании льготного периода')
              p По&nbsp;окончании льготного периода сумма основного долга увеличивается на&nbsp;сумму процентов, которые не&nbsp;были уплачены заемщиком в&nbsp;течение льготного периода, исходя из&nbsp;условий кредитного договора, действовавших до&nbsp;предоставления льготного периода.
              p По&nbsp;окончании льготного периода платежи по&nbsp;кредитному договору уплачиваются заемщиком в&nbsp;размере и&nbsp;с&nbsp;периодичностью (в&nbsp;сроки), которые аналогичны установленным в&nbsp;соответствии с&nbsp;действовавшими до&nbsp;предоставления льготного периода условиями кредитного договора. Срок возврата кредита продлевается на&nbsp;срок, необходимый для погашения обязательств заемщика по&nbsp;кредиту.
              p В&nbsp;течение льготного периода не&nbsp;допускаются начисление неустойки (штрафа, пени) за&nbsp;неисполнение или ненадлежащее исполнение заемщиком обязательств по&nbsp;возврату кредита и&nbsp;процентов. Ранее начисленная задолженность фиксируется и&nbsp;уплачивается после окончания льготного периода
      +section
        .inner
          +section-head
            +ui-h2('Предоставление льготного периода в рамках собственной программы Банка', 'section-head')
          +accordion
            +accordion-item('Что такое льготный период?')
              p Изменение условий кредитного договора, предусматривающее приостановление (отсрочку) исполнения заемщикм своих обязательств на&nbsp;срок до&nbsp;6&nbsp;месяцев, но&nbsp;не&nbsp;позднее 31.12.2022&nbsp;года.
            +accordion-item('Кто может воспользоваться льготным периодом?')
              p Заемщики - юридические лица и&nbsp;индивидуальные предприниматели (независимо от&nbsp;наличия статуса субъекта малого и&nbsp;среднего предпринимательства) заключившие кредитные договоры до&nbsp;1&nbsp;марта 2022&nbsp;года.
              p Заемщики, подтвердившие факт снижения выручки в&nbsp;связи с&nbsp;влиянием санкций, либо снижение выручки в&nbsp;перспективе при наличии негативных тенденций.
              p Право на&nbsp;получение льготного периода распространяется на&nbsp;заемщиков, обратившихся к&nbsp;кредитору в&nbsp;период с&nbsp;1&nbsp;марта по&nbsp;30&nbsp;сентября 2022&nbsp;года.
            +accordion-item('Какие условия получения льготного периода?')
              p Длительность льготного периода не&nbsp;более 6&nbsp;месяцев.
              p Дата начала льготного периода&nbsp;— с&nbsp;даты начала ближайшего платежного периода.
              p Дата окончания льготного периода&nbsp;— не&nbsp;позднее 31.12.2022&nbsp;года.
              p Предоставляется отсрочка погашения основного долга и&nbsp;процентов, либо отсрочка погашения основного долга, с&nbsp;сохранением графика погашения процентов в&nbsp;течение льготного периода.
              p После установления льготного периода обязательства кредитора по&nbsp;предоставлению денежных средств заемщику приостанавливаются на&nbsp;весь срок действия льготного периода.
            +accordion-item('Как получить льготный период?')
              p С&nbsp;1&nbsp;марта по&nbsp;30&nbsp;сентября 2022 года обратиться к&nbsp;кредитору с&nbsp;заявлением о&nbsp;предоставлении льготного периода, содержащим причины и&nbsp;уровень снижения выручки.
            +accordion-item('Какие документы нужны получения для льготного периода?')
              ul.ui-ul
                li Заявление заемщика на&nbsp;предоставление льготного периода, с&nbsp;указанием на&nbsp;отсрочку исполнения своих обязательств по&nbsp;кредитному договору;
                li Документы, подтверждающие снижение выручки в&nbsp;связи с&nbsp;влиянием санкций, или подтверждающие снижение выручки в&nbsp;перспективе при наличии негативных тенденций.
            +accordion-item('Порядок начисления и уплаты платежей при предоставлении льготного периода')
              p Заемщику на выбор предлагаются варианты погашения основного долга и процентов, например:
              ul.ui-ul.ui-ul--dash
                li погашение основного долга равными долями (отношение суммы основного долга за&nbsp;период отсрочки к&nbsp;количеству платежей по&nbsp;кредиту до&nbsp;конца срока действия договора/транша);
                li продление срока кредитного договора на&nbsp;срок, необходимый для погашения обязательств по&nbsp;основному долгу в&nbsp;объеме, действующем до&nbsp;предоставления льготного периода (но&nbsp;не&nbsp;более, чем на&nbsp;6&nbsp;месяцев);
                li погашение процентов в&nbsp;размере всей суммы накопленных процентов в&nbsp;месяце, следующем за&nbsp;месяцем окончания льготного периода;
                li погашение процентов в&nbsp;размере всей суммы накопленных процентов в&nbsp;дату окончания срока действия договора/транша;
                li погашение накопленных процентов равными долями (отношение суммы процентов за&nbsp;период отсрочки к&nbsp;количеству платежей по&nbsp;процентам до&nbsp;конца срока действия договора/транша), начиная с&nbsp;месяца, следующего за&nbsp;месяцем окончания отсрочки.
