mixin metals-benefits(mods)
  -
    const baseName = 'metals-benefits'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

    const data = [
      {
        icon: 'img/metals-benefits_1.svg',
        title: 'Покупка и продажа аффинированных драгоценных металлов в слитках на российском рынке',
        desc: 'Банк совершает операции с мерными и стандартными слитками, соответствующими международному стандарту качества «Good Delivery». Местом приема-передачи слитков может выступать хранилище Клиента / Контрагента или специализированной транспортной компании.',
      },
      {
        icon: 'img/metals-benefits_2.svg',
        title: 'Открытие и ведение банковских счетов в драгоценных металлах',
        desc: 'Зачисление драгоценных металлов на счет возможно путем физической поставки слитков драгоценных металлов, а также путем заключения сделки по покупке обезличенных драгоценных металлов. Открытие и ведение счета – бесплатно.',
      },
      {
        icon: 'img/metals-benefits_3.svg',
        title: 'Экспорт слитков золота',
        desc: 'Наличие экспортной лицензии у Банка позволяет осуществлять поставку драгоценных металлов в любую точку мира на условиях DAP или «дверь-в-дверь».',
      },
      {
        icon: 'img/metals-benefits_4.svg',
        title: 'Хеджирование цен',
        desc: 'Операции проводятся на российском и зарубежном рынках в целях хеджирования ценовых рисков, связанных с изменениями рыночных цен на драгоценные металлы.',
      },
      {
        icon: 'img/metals-benefits_5.svg',
        title: 'Биржевые операции с драгоценными металлами',
        desc: 'Банк является активным участником биржевых торгов с драгоценными металлами на Московской Бирже, и осуществляет весь комплекс операций, как со слитками драгоценных металлов, так и в обезличенном виде.',
      },
      {
        icon: 'img/metals-benefits_6.svg',
        title: 'Хранение и транспортировка драгоценных металлов',
        desc: 'Более 10 лет сотрудничества с крупнейшими компаниями- перевозчиками позволяют Банку оказывать услуги по доставке и хранению драгоценных металлов.',
      },
    ]

  .metals-benefits(class=allMods)&attributes(attributes)
    each item in data
      .metals-benefits__item
        .metals-benefits__icon
          img(src=item.icon, alt='')
        .metals-benefits__text
          .metals-benefits__title !{item.title}
          .metals-benefits__desc !{item.desc}
    block
