extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')
  link(rel='stylesheet' href=fileName + '.min.css')

block scripts
  script(src='../../js/index.js')
  script(src=fileName + '.js')

block variables
  -
    const fileName = 'internet-bank'
    const pageTitle ='Дистанционное обслуживание'

    const tabsSlider = [
      {
        navTitle: 'Удобство',
        text: [
          {
            h3: 'Будьте в курсе финансовой ситуации',
          },
          {
            h5: 'Счёт всегда под рукой',
            list: [
              'Для управления счетом нужен только ноутбук или мобильный телефон, подтверждение платежей по&nbsp;СМС',
              'Автоматические уведомления о&nbsp;движении денежных средств',
              'Выписка о&nbsp;последних операциях',
              'Информация о&nbsp;балансе счета',
            ],
          },
          {
            h5: 'Любые способы идентификации',
            list: [
              'Вход в систему по&nbsp;токену или логину-паролю',
            ],
          },
          {
            h5: 'Депозиты онлайн',
            list: [
              'Можно быстро разместить средства по&nbsp;привлекательной ставке',
            ],
          },
          {
            h5: 'Все компании в одном окне',
            list: [
              'Удобное переключение с&nbsp;одной компании на&nbsp;другую в&nbsp;одном личном кабинете',
            ],
          },
          {
            h5: 'Облегчаем работу с&nbsp;сотрудниками',
            list: [
              'Загрузка реестров в&nbsp;любом формате для&nbsp;выплаты зарплаты своим сотрудникам',
            ],
          },
        ],
        images: {
          mod: 'comfortable',
          screen: 'img/about_screen1.png',
          decor: 'img/about_decor1.png',
          anim: [
            {
              src: 'img/about_check.png',
              mod: 'check',
            },
            {
              src: 'img/about_ruble.png',
              mod: 'ruble',
            },
            {
              src: 'img/about_galka.png',
              mod: 'galka',
            },
            {
              src: 'img/about_coin1.png',
              mod: 'coin',
            },
          ],
        },
      },
      {
        navTitle: 'Контрагенты',
        text: [
          {
            h5: 'Легкий переход из&nbsp;другого банка',
            list: [
              'Загрузите реквизиты своих контрагентов из&nbsp;другого банка и&nbsp;отправляйте платежи',
            ],
          },
          {
            h5: '<a class="text-orange text-link-underline" href="/pages/verification-counterparties/">Бесплатная проверка контрагентов</a>',
            list: [
              'Сервис детальной проверки информации по&nbsp;контрагенту перед совершением платежа',
            ]
          },
          {
            h5: 'Контрагенты всегда в&nbsp;курсе',
            list: [
              'Отправка СМС или e-mail контрагенту, когда платеж подписан',
            ]
          },
          {
            h5: 'Облегчаем работу бухгалтера',
            list: [
              'Удобное выставление счета любому контрагенту в&nbsp;интерфейсе Интернет-банка',
            ]
          },
        ],
        images: {
          mod: 'counterparties',
          screen: 'img/about_screen2.png',
          decor: 'img/about_decor2.png',
          anim: [
            {
              src: 'img/about_moneta2-1.png',
              mod: 'moneta1',
            },
            {
              src: 'img/about_moneta2-2.png',
              mod: 'moneta2',
            },
            {
              src: 'img/about_man.png',
              mod: 'man',
            },
          ],
        },
      },
    ]

    const picTabs = [
      {
        text: 'Подключение Интернет-банка',
        img: 'phone'
      },
      {
        text: 'Безопасность',
        img: 'keyboard'
      },
      {
        text: 'Вопросы и ответы',
        img: 'doc'
      },
    ]

block content
  main
    +banner
      +banner__item('--internet-bank')
        +banner__wrapper('img/banner_internet-bank.jpg')
          +banner__h1('Интернет-банк')
          +banner__descr('Инструмент для вашего бизнеса', '--size-s').text-orange
          +banner__foot
            +ui-button('Войти', 'banner')(href='#')
    .page-content
      +section('--mt0')
        .inner
          +tabs-slider('Преимущества ', tabsSlider, '--internet-bank')
      +section
        .inner
          +pic-tabs(picTabs)
            +pic-tabs__item(picTabs[0])
              +ui-p1
                p
                  a.text-orange(href='#') Оставьте заявку
                  =' '
                  | на открытие расчетного счета
              +ui-p1('На указанный номер отправим sms с кодом для подтверждения. После подтверждения номера телефона с вами свяжется менеджер для&nbsp;получения документов', '--light')
              br
              +ui-p1('Уже есть расчетный счет?')
              +ui-p1('Заполните заявление на подключение Интернет-банка в любом отделении банка', '--light')
              +section-footnote
                +ui-button('Скачать заявление')(href='#')
            +pic-tabs__item(picTabs[1])
              +ui-p1('Мы стремимся к созданию безопасного пространства, в котором клиенты не переживают за свои сбережения.', '--light')
              +ui-p1('Все данные передаются по защищённым протоколам передачи информации, которые соответствуют международным стандартам кибербезопасности.', '--light')
              +ui-p1('Несмотря на совершенствование систем безопасности необходимо соблюдать простые правила:')
              +ui-p1('', '--light')
                ul.ui-ul
                  li Никому не говорите регистрационные данные для входа в Интернет-банк
                  li Проверяйте адрес страницы Интернет-банка:
                    =' '
                    a.text-orange(href='#') business.faktura.ru/f2b
                  li Устанавливайте и обновляйте антивирус на вашем устройстве. Вредоносные программы могут перехватывать данные, вводимые с клавиатуры. Регулярное обновление антивирусной базы и поддержка антивирусной программы в актуальном состоянии обезопасят от кражи данных.
              +ui-p1('Дополнительно рекомендуем ознакомиться с ', '--light')
                a.text-orange(href='#') Рекомендациями Клиенту по безопасному использованию системы дистанционного банковского обслуживания в «Азиатско-Тихоокеанском Банке» (АО)
                | .
              +ui-p1('', '--light')
                a.text-orange(href='#') Памятка безопасности
            +pic-tabs__item(picTabs[2])
              +accordion
                +accordion-item('Как подключить Интернет-банк')
                  p
                    b Если открыт расчетный счет:
                  p Подайте заявление на подключение (в любом отделении).
                  +documents-item('Заявление на подключение', '(pdf, 354.58 КБ)')
                  br
                  p
                    b Я новый клиент:
                  p Заполните информацию о подключении интернет-банка сразу при заполнении заявления на открытие счета
                  +ui-button('Подать заявку')(href='#')
                +accordion-item('Как зарегистрироваться в Интернет-банке')
                  p С помощью Рутокена
                  ul.ui-ul
                    li Следуйте подсказкам из Памятки по регистрации (которую направит сотрудник банка после заполнения заявления)
                    li Сгенерируйте запрос на выдачу сертификата
                    li Передайте в банк подписанное заявление на выдачу сертификата
                  p С помощью логина и пароля
                  ul.ui-ul
                    li После заполнения заявления банк отправит вам на электронный адрес логин для входа и инструкцию для создания пароля
                    li Сгенерируйте пароль, следуя подсказкам
                +accordion-item('Почему личный кабинет заблокирован?')
                  p Это связано с безопасностью ваших средств. Доступ блокируется из-за неверно введенных данных при авторизации (это могли быть вы или мошенники).
                    b  Для восстановления доступа обратитесь
                    |  в любое отделение банка или колл-центр по телефону
                    =' '
                    a.text-orange.text-nowrap(href='tel:88007758080') 8-800-775-80-80
                    |  (звонок по России бесплатный).
                +accordion-item('Забыл логин и/или пароль')
                  p Нажмите кнопку «Забыли пароль?» или обратитесь в любое отделение банка или колл-центр по телефону
                    =' '
                    a.text-orange.text-nowrap(href='tel:88007758080') 8-800-775-80-80
                    |  (звонок по России бесплатный).
                +accordion-item('В приложении не отражаются счета')
                  p При проблемах с отображением продуктов и счетов позвоните своему менеджеру или в колл-центр по телефону
                    =' '
                    a.text-orange.text-nowrap(href='tel:88007758080') 8-800-775-80-80
                    |  (звонок по России бесплатный).
      +section
        .inner
          +section-head.text-center
            +ui-h2('Документы для скачивания', 'section-head')
          +accordion
            +accordion-item('Документы')
              +documents
