extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')
  //- link(rel='stylesheet' href=fileName + '.min.css')

block scripts
  script(src='../../js/index.js')
  //- script(src=fileName + '.js')

block variables
  //- -const fileName = 'concessional-lending'
  -const pageTitle ='Льготные программы кредитования'

  -
    const servicesItems =[
      { icon: 'img/document1.svg', title: 'Программа стимулирования кредитования субъектов МСП', descr: 'реализуемая совместно с АО «Корпорация МСП» и Центральным Банком РФ' },
      { icon: 'img/document2.svg', title: 'Льготная программа кредитования субъектов МСП Минэкономразвития', descr: 'реализуемая в рамках Постановления Правительства РФ от 30.12.2018 №1764' },
      { icon: 'img/document3.svg', title: 'Льготная программа кредитования резидентов ТОР и СПВ', descr: 'реализуемая совместно с Минвосторазвития в рамках Постановления Правительства РФ №1818 от 25.12.2019' },
      //- { icon: 'img/document4.svg', title: 'Льготная программа кредитования субъектов МСП, зарегистрированных на территории г. Москвы.', descr: 'Реализуемая совместно с Департаментом предпринимательства и инновационного развития г.Москвы' },
    ]

block content
  main
    +banner('--m-vertically')
      +banner__item('--v-inner-pt-xxl, --concessional-lending')
        +banner__wrapper('img/banner_concessional_lending.png', true)
          +banner__h1('Кредиты <br>с господдержкой', '--mob-size-l, --mob-mb-l')

    .page-content
      +section('--mt0')
        .inner
          +services(servicesItems)
            a.services__item.services__item--picture(target='_blank' href='#')
              .services__content
                .services__title Цифровые сервисы для бизнеса
                .services__descr Прими участие в опросе!
                .services__foot
                  +ui-button('перейти', '--link-next').text-orange
                  .services__logo
                    .services__logo-item
                      img(src='img/services_logo1.png' alt='')
                    .services__logo-item
                      img(src='img/services_logo2.svg' alt='')
              .services__picture
                img(src='img/services_img1.png' alt='')

            +services__item('img/document6.svg', 'Льготная программа кредитования импортеров', 'Реализуемая совместно с Министерством Промышленности и Торговли в рамках Постановления Правительства РФ №895 от 18 мая 2022')
            +services__item('img/document7.svg', 'Льготная программа кредитования сельхозпредприятий', 'Реализуемая совместно с&nbsp;МСХ РФ&nbsp;в&nbsp;рамках Постановления Правительства РФ &#8470;&nbsp;1528 от&nbsp;29.12.2016')
            +services__item('img/document8.svg', 'Льготная программа инвестиционного кредитования', 'При участии Минэкономразвития России совместно с&nbsp;Банком России и&nbsp;Корпорацией МСП')
            //- +services__item('img/document5.svg', 'Льготная программа кредитования субъектов МСП при поддержке ЦБ РФ', 'Программа предусматривает льготное кредитование субъектов МСП, осуществляющих деятельность в любой отрасли (за исключением субъектов МСП, указанных в ч.3,4 ст.14 ФЗ от 24.07.2007г. «209-ФЗ)')

  +seo('Кредит для бизнеса')
    p АТБ помогает развиваться малым и средним предприятиям, предлагая несколько вариантов оформления кредита на развитие бизнеса:
    ul
      li Инвестиционный и  кредит на пополнение оборотных средств;
      li «Зарплатный» (позволяет получить сумму на выдачу зарплат);
      li Овердрафт (осуществляет возможность срочного финансирования разрывов по кассе).
    p Кредит на развитие бизнеса — это один из наиболее простых и легких путей, с помощью которого можно  обеспечить материальную составляющую для процветания собственного дела. АТБ  нацелен на активное сотрудничество со средними и малыми предпринимателями и  предлагает выгодные кредитные программы различной направленности.
    p Снижение процентных ставок, облегчение процедуры оформления документов, индивидуальный подход к каждому клиенту — лишь немногие преимущества вашего сотрудничества с Азиатско-Тихоокеанским Банком. Работая с АТБ, вы получите кредит под бизнес, который поможет развить ваше дело.
    h2 Процедура оформления заёма
    p Процесс оформления кредита не отнимает много времени. Отправив  специальную заявку на сайте, вы получите обратную связь в течение нескольких  минут. Мы делаем упор на рассмотрение заявок в минимальные сроки. Гибкие  кредитные программы могут удовлетворить любые потребности клиентов.  Индивидуальный подход к потребителям банковских кредитов среднему бизнесу делает процедуру  оформления наиболее простой и понятной для каждого. Предоставляется услуга  разработки персонального погашения задолженности.
    h2 Пакет документов
    p Сбор документов является важным этапом при оформлении кредита на развитие бизнеса. Всем своим заемщикам банк АТБ предлагает собрать минимальный пакет бумаг. Условия выдачи займа зависят от того, на какой стадии развития находится бизнес-дело.
    p Для рассмотрения заявки по кредиту на развитие уже работающего бизнеса достаточно лишь заявления и нескольких справок. Если вы оформляете заём для осуществления стартапа, предоставьте регистрационные и финансовые документы на ИП или предприятие.
