extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')
  link(rel='stylesheet' href=fileName + '.min.css')

block scripts
  script(src='../../js/index.js')

block variables
  -
    const fileName = 'business-protection'
    const pageTitle ='Сервисы защиты бизнеса'

    const optionsTab1 = [
      {
        name: '«Стандарт»',
      },
      {
        name: '«Профи»',
      },
      {
        name: '«Эксперт»',
      },
    ]

    const dataTableTab1 = {
      thead: [
        {
          th: [
            { text: 'Страховые суммы, РУБ.:', mods: 'ui-table__tr-title' },
            { text: 'Стандарт', mods: 'ui-table__tr-title' },
            { text: 'Профи', mods: 'ui-table__tr-title' },
            { text: 'Эксперт', mods: 'ui-table__tr-title' },
          ]
        }
      ],
      tbody: [
        {
          td: [
            { text: 'По страхованию имущества предприятия' },
            { text: '1 000 000' },
            { text: '3 000 000' },
            { text: '5 000 000' },
          ]
        },
        {
          td: [
            { text: 'По страхованию перерыва в производстве (предпринимательские риски)' },
            { text: '150 000' },
            { text: '300 000' },
            { text: '600 000' },
          ]
        },
        {
          td: [
            { text: 'По страхованию сотрудников от несчастных случаев (смерть, инвалидность I, II группы, временная утрата нетрудоспособности)' },
            { text: '300 000' },
            { text: '500 000' },
            { text: '1 000 000' },
          ]
        },
        {
          td: [
            { text: 'Страховая премия - стоимость за выбранный вариант страхования' },
            { text: '<b>4 660 ₽</b>' },
            { text: '<b>9 600 ₽</b>' },
            { text: '<b>18 000 ₽</b>' },
          ]
        },
      ]
    }

    const optionsTab2 = [
      {
        name: '«Лайт»',
        desc: 'базовый пакет с&nbsp;минимальным набором услуг',
      },
      {
        name: '«Оптимальный»',
        desc: 'расширенный пакет услуг по&nbsp;льготным тарифам',
      },
      {
        name: '«Премиум»',
        desc: 'больше возможностей для сопровождения вашего бизнеса',
      },
    ]

    const benefitsItems = [
      {
        icon: 'img/features-1.svg',
        descr: 'Устные консультации по юридическим вопросам и вопросам бухгалтерии (2 в 1)',
      },
      {
        icon: 'img/features-2.svg',
        descr: 'Моментальная обработка вопроса',
      },
      {
        icon: 'img/features-3.svg',
        descr: 'Круглосуточный доступ к сервису',
      },
      {
        icon: 'img/features-4.svg',
        descr: 'Архив аудиозаписей консультаций в личном кабинете и мобильном приложении',
      },
      {
        icon: 'img/features-5.svg',
        descr: 'Более 1500 типовых документов в личном кабинете',
      },
      {
        icon: 'img/features-6.svg',
        descr: 'Бесплатный звонок из любой точки России',
      },
    ]

    const dataTableTab2 = {
      thead: [
        {
          th: [
            { text: 'Услуги, включённые в Сертификат', mods: 'ui-table__tr-title' },
            { text: 'Лайт', mods: 'ui-table__tr-title' },
            { text: 'Оптимальный', mods: 'ui-table__tr-title' },
            { text: 'Премиум', mods: 'ui-table__tr-title' },
          ]
        }
      ],
      tbody: [
        {
          td: [
            { text: 'Устная юридическая консультация по предпринимательским вопросам' },
            { text: '<b>Безлимитно</b>' },
            { text: '<b>Безлимитно</b>' },
            { text: '<b>Безлимитно</b>' },
          ]
        },
        {
          td: [
            { text: 'Устная консультация по «личным» вопросам для руководителя компании' },
            { text: '-' },
            { text: '1 в месяц' },
            { text: 'Безлимитно' },
          ]
        },
        {
          td: [
            { text: 'Письменная юридическая консультация по предпринимательским вопросам' },
            { text: '1 в год' },
            { text: '1 в квартал' },
            { text: '1 в месяц' },
          ]
        },
        {
          td: [
            { text: 'Бухгалтерское консультирование' },
            { text: 'Безлимитно' },
            { text: 'Безлимитно' },
            { text: 'Безлимитно' },
          ]
        },
        {
          td: [
            { text: 'Налоговая консультация' },
            { text: '	1 в месяц' },
            { text: '	1 в месяц' },
            { text: 'Безлимитно' },
          ]
        },
        {
          td: [
            { text: 'Предоставление шаблонов документов и инструкций по их составлению' },
            { text: 'Безлимитно' },
            { text: 'Безлимитно' },
            { text: 'Безлимитно' },
          ]
        },
        {
          td: [
            { text: 'Рекомендуемая модель договора' },
            { text: 'Безлимитно' },
            { text: 'Безлимитно' },
            { text: 'Безлимитно' },
          ]
        },
        {
          td: [
            { text: 'Юридическая письменная экспертиза (сделок, юридических документов и правовых ситуаций)' },
            { text: '1 в год' },
            { text: '1 в квартал' },
            { text: '6 в год' },
          ]
        },
        {
          td: [
            { text: 'Составление документов и договоров' },
            { text: '1 в год' },
            { text: '1 в квартал' },
            { text: '6 в год' },
          ]
        },
        {
          td: [
            { text: 'Предоставление текстов нормативных документов по запросу' },
            { text: 'Безлимитно' },
            { text: 'Безлимитно' },
            { text: 'Безлимитно' },
          ]
        },
        {
          td: [
            { text: 'Удаленное содействие в переговорах' },
            { text: '1 в год' },
            { text: '1 в месяц' },
            { text: 'Безлимитно' },
          ]
        },
        {
          td: [
            { text: 'Обзор изменений в законодательстве' },
            { text: '-' },
            { text: '1 в месяц' },
            { text: '1 в месяц' },
          ]
        },
        {
          td: [
            { text: 'Звонки 8-800' },
            { text: 'включено	' },
            { text: 'включено	' },
            { text: 'включено	' },
          ]
        },
        {
          td: [
            { text: 'Личный кабинет с базой типовых вопросов Legal Cloud' },
            { text: 'включено	' },
            { text: 'включено	' },
            { text: 'включено	' },
          ]
        },
        {
          td: [
            { text: 'Мобильное приложение' },
            { text: 'включено	' },
            { text: 'включено	' },
            { text: 'включено	' },
          ]
        },
        {
          td: [
            { text: 'Сервис для семьи (+ супруг/супруга)' },
            { text: '-' },
            { text: '-' },
            { text: 'включено' },
          ]
        },
        {
          td: [
            { text: 'Количество пользователей' },
            { text: '1' },
            { text: '2' },
            { text: '3' },
          ]
        },
        {
          td: [
            { text: 'Срок действия' },
            { text: '	1 год' },
            { text: '	1 год' },
            { text: '	1 год' },
          ]
        },
        {
          td: [
            { text: '<b>Стоимость в рублях в год (в т.ч. НДС)</b>' },
            { text: '<b>12 500</b>' },
            { text: '<b>25 000</b>' },
            { text: '<b>35 000</b>' },
          ]
        },
      ]
    }

block content
  main
    +banner
      +banner__item('--business-protection')
        +banner__wrapper('img/banner_business-protection.jpg')
          +banner__h1('Сервисы <br> защиты бизнеса')
          +banner__descr('Защита вашего бизнеса на&nbsp;выгодных условиях').text-orange.banner__mob-none
          +banner__foot
            +ui-button('Оставить заявку', 'banner')(href='#form-section')
        +banner__mobile.text-orange
          b Защита вашего бизнеса на выгодных условиях
    .page-content
      +tabs-head([ { text: 'Страхование бизнеса от СОГАЗ' }, { text: 'Правовое сопровождение бизнеса ЮРИСТ24' } ])
      +tabs-main
        +tabs-main__item(true)
          +section('--mt0')
            .inner
              +section-head('--max-w')
                +ui-h3('«Без риска для дела» - комплексный коробочный продукт по страхованию имущества, сотрудников и потерь от перерыва в производстве для малого и среднего бизнеса', 'section-head')
                +ui-p1('Для вас разработаны следующие варианты страхования отвечающие потребностям вашего бизнеса на очень выгодных условиях:')
              +bus-prot-options(optionsTab1)
              +section-footnote('Каждый вариант предусматривает фиксированный набор видов страхования и страховых сумм').text-center
          +section
            .inner
              +section-head('--max-w')
                +ui-h2('Преимущества правового сопровождения в АТБ:', 'section-head')
              +bus-prot-insurance
                +ui-p1('Выбери свой вариант коробочного страхования:', 'bus-prot-insurance')
                +ui-table(dataTableTab1, 'bus-prot-insurance', 'mobileAccordions')(data-media='767')
              +section-footnote('Тарифы действительны на 01.09.2021 г. Узнать более подробные условия и приобрести данную услугу можно в ближайшем офисе АО «Азиатско-Тихоокеанского Банка» (АТБ). Банк является агентом на основании Агентского договора, Страховые услуги по сервису Без риска для дела осуществляет компания <a target="_blank" class="text-orange" href="https://shop.sogaz.ru/activate/no_risk/#description">АО «СОГАЗ»</a>')
          +section
            .inner
              +accordion
                +accordion-item('Объекты страхования и риски')
                  +ui-p1
                    b Страхование имущества предприятия
                  +ui-p1('', '--light')
                    ul.ui-ul
                      li Внутренняя отделка помещений (стены, полы, потолки, лепнина, двери, встроенные шкафы и т.п.)
                      li Инженерное оборудование (водопровод, канализация, отопление (включая печи, камины), проводка, кабели, противопожарное, охранное оборудование)
                      li Движимое имущество, мебель и офисная техника (оборудование не покрывается)
                  +ui-p1
                    b Страхование перерыва в производстве
                    +ui-tooltip('К риску «Страхование перерыва в работе» относятся текущие (постоянные) расходы Страхователя по продолжению его производственной деятельности в период восстановления погибшего, утраченного или поврежденного имущества')
                  +ui-p1('', '--light')
                    ul.ui-ul
                      li Плата за аренду помещений, оборудования, лизинговые платежи
                      li Налоги и сборы, которые платятся вне зависимости от оборота (налог на имущество, землю)
                      li Проценты по кредитам
                  +ui-p1
                    b Страхование от несчастного случая
                  +ui-p1('', '--light')
                    ul.ui-ul
                      li Смерть в результате несчастного случая
                      li Инвалидность в результате несчастного случая I-II гр.
                      li Временная утрата трудоспособности в результате несчастного случая
                +accordion-item('Имущество и перерывы в производстве')
                  +ui-p1
                    b Страхование имущества предприятия
                  +ui-p1('', '--light')
                    ul.ui-ul
                      li Объекты незавершенного строительства
                      li Склады
                      li Жилой фонд (квартиры, дома)
                      li Торговые палатки, ларьки, остановочные павильоны
                      li Бани, сауны
                      li Помещения, здания, сооружения с деревянными конструктивными элементами
                      li Здания, сооружения, помещения, возраст которых более 30 лет и/или капитальный ремонт/реконструкция в которых проводились более 10 лет назад
                      li Здания, помещения площадью более 500 кв.м.
                      li Здания, сооружения, помещения, в которых осуществляется хранение огне– и/или взрывоопасных, легковоспламеняющихся, химических веществ и материалов или осуществляется их производство
                      li Имущество, на которое обращено взыскание по обязательствам, или подлежащее конфискации
                      li Имущество, находящееся в зоне, которой угрожают обвалы, оползни, наводнения или иные стихийные бедствия (с момента их объявления в установленном порядке, если это сделано до заключения договора страхования)
                  +ui-p1
                    b Жизнь и здоровье
                  +ui-p1('По рискам «Временная утрата трудоспособности в результате несчастного случая», «Постоянная утрата трудоспособности в результате несчастного случая», «Смерть в результате несчастного случая» не могут быть застрахованы лица, которые:', '--light')
                  +ui-p1('', '--light')
                    ul.ui-ul
                      li На момент подключения не состояли в штате Страхователя
                      li На момент страхования не достигли 18 лет или старше 65 лет
                      li Род занятий которых характеризуется высокой степенью риска (например, работники охранных служб; работники, занятые добычей, переработкой, производством, хранением опасных веществ; лица, участвующие в подготовке и проведении взрывных работ; испытатели; лица, выполняющие работы в подземных условиях; летно-подъемный состав авиации; спасатели; пожарные и т.п.)
                      li Являются инвалидами I, II группы, инвалиды детства
                      li Страдающие церебральным параличом, болезнью Дауна, состоящие на учете в психоневрологическом диспансере
        +tabs-main__item
          +section('--mt0')
            .inner
              +section-head('--max-w')
                +ui-h3('Это оптимальное использование средств и высокое качество обслуживания на выгодных условиях.', 'section-head')
                +ui-p1('Для вас разработаны Сертификаты, отвечающие потребностям вашего бизнеса на очень выгодных условиях:')
              +bus-prot-options(optionsTab2)
          +section
            .inner
              +section-head
                +ui-h2('Преимущества правового сопровождения в АТБ:', 'section-head')
              +benefits(benefitsItems, '--title-normal')
          +section
            .inner
              +bus-prot-principles
          +section
            .inner
              +accordion
                +accordion-item('Как это работает')
                  +bus-prot-steps
                +accordion-item('Выберите свой вариант Cертификата')
                  +ui-table(dataTableTab2, '--mob-scroll')
                  +section-footnote
                    | Тарифы действительны на 09.10.2020 г.
                    br
                    | Узнать более подробные условия и приобрести данную услугу можно в ближайшем офисе АО «Азиатско-Тихоокеанского Банка» (АТБ).
                    br
                    |  Банк является агентом на основании Агентского договора от 09.10.2020г. Юридические услуги по сервису Юрист24 осуществляет компания
                    =' '
                    a(href='https://els24.com/' target='_blank') ООО «Европейская Юридическая Служба»
      +section#form-section
        .inner
          .form-container
            +section-head.text-center
              +ui-h2('Оставить заявку', 'section-head')
  +seo('Правовое сопровождение бизнеса')
    p Азиатско-Тихоокеанский Банк оказывает услуги правового сопровождения бизнеса. Это поддержка по вопросам налогообложения и бухгалтерии, помощь в сделках с недвижимостью, в судебных спорах, в организационных и других вопросах. В распоряжении наших клиентов устные консультации профессионалов, архив аудиозаписей прошедших бесед, оперативная обработка письменных запросов, большая база образцов документов и многое другое.
    p Мы разработали для Вас несколько пакетов услуг с различным набором опций. Выберите вариант правового сопровождение бизнеса с учетом реальных потребностей Вашей организации:
    ul
      li Business Lite. Пакет с набором базовых услуг;
      li Business. Пакет с расширенным перечнем услуг;
      li Business +. Пакет с максимальными возможностями для бизнеса.
    p Обращение к правовому сопровождению бизнеса в АТБ обеспечит Вам грамотное ведение дел, освободит массу времени, которое требуется на поиск нужной информации, поможет оптимизировать расходы и откроет возможности для роста. Чтобы подключить услугу, сделайте звонок на нашу горячую линию или посетите любое отделение АТБ.
