mixin steps(stepsItems, mods)
  -
    const baseName = 'steps'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .steps(class=allMods)&attributes(attributes)
    each step in stepsItems
      .steps__item
        .steps__icon
          img(src=step.icon, alt='')
        .steps__text
          .steps__title !{step.title}
          if step.descr
            .steps__descr !{step.descr}
    block
