mixin bank-guarantee-need(mods)
  -
    const baseName = 'bank-guarantee-need'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  -
    const bankGuaranteeNeedItems =[
      {
        text: 'Вам нужно гарантировать исполнение обязательств перед покупателем или заказчиком услуг',
        title: 'Гарантия исполнения обязательств',
        descr: 'Выдается в пользу покупателя/заказчика товаров или услуг. Обеспечивает исполнение обязательства поставщика/подрядчика.',
      },
      {
        text: 'Вам нужно обеспечить оплату таможенных платежей',
        title: 'Таможенная гарантия',
        descr: 'Выдается в пользу таможенных органов РФ в обеспечение уплаты Клиентом Банка (Принципалом) таможенных платежей в установленных размерах и в сроки, а также рассрочки/отсрочки уплаты таможенных платежей, в соответствии с ТК РФ и НК РФ.',
      },
      {
        text: 'У вас возникает НДС к возмещению',
        title: 'Гарантия  возврата НДС',
        descr: 'Выдается в пользу налоговых органов. Обеспечивает обязательство Клиента Банка вернуть налоговому органу излишне полученные суммы возмещения НДС. Выплата происходит, если решение о возмещении суммы налога, заявленной к возмещению, будет отменено полностью или частично.',
      },
      {
        text: 'Ваш покупатель хочет быть уверен в том, что вы вернете аванс в случае неисполнения вами обязательств',
        title: 'Гарантия возврата аванса',
        descr: 'Выдается в пользу покупателя/заказчика товаров или услуг в размере аванса, получаемого поставщиком от покупателя/заказчика. Обеспечивает возврат суммы уплаченного аванса в случае неисполнения поставщиком своих обязательств по поставке товаров или услуг.',
      },
      {
        text: 'Вы хотите принять участие в государственном конкурсе или тендере',
        title: 'Тендерная',
        descr: 'Выдается в пользу организатора тендера. Обеспечивает подписание контракта победителем тендера.',
      },
      {
        text: 'Вам нужно подтвердить вашу платежеспособность',
        title: 'Гарантия платежа',
        descr: 'Выдается в пользу продавца/поставщика товаров или услуг. Обеспечивает исполнение обязательств покупателя по оплате поставленных товаров или услуг.',
      },
      {
        text: 'Вам необходимо гарантировать налоговым органам оплату акцизных сборов',
        title: 'Акцизная',
        descr: 'Выдается в пользу налоговых органов РФ в обеспечение уплаты акцизных сборов Клиентом Банка (Принципалом).',
      },
    ]

  .bank-guarantee-need(class=allMods)&attributes(attributes)
    each item in bankGuaranteeNeedItems
      .bank-guarantee-need__item
        .bank-guarantee-need__front
          .bank-guarantee-need__text !{item.text}
          .bank-guarantee-need__foot
            +ui-button('Описание гарантии', 'bank-guarantee-need, --link-next')
        .bank-guarantee-need__back
          .bank-guarantee-need__title !{item.title}
          .bank-guarantee-need__descr !{item.descr}
          .bank-guarantee-need__close
            +icon('icon_close')
    block
