.business-acc-offer {
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  @include media-laptop {
    padding-left: 0;
  }
  @include media-tablet {
    align-items: center;
  }
  &__info {
    max-width: 415px;
    flex-shrink: 0;
    margin-right: 40px;
    @include media-laptop {
      width: 50%;
    }
    @include media-tablet {
      width: 60%;
      margin-right: 5px;
    }
  }
  &__txt {
    margin-bottom: 20px;
    font: 700 22px/1.3 $font;
    @include media-laptop {
      font-size: 20px;
    }
    @include media-tablet {
      font-size: 18px;
    }
  }
  &__img {
    max-width: 530px;
    @include media-tablet {
      max-width: 340px;
      flex-shrink: 0;
    }
  }
  &__ui-ul {
    font-size: 18px;
    @include media-laptop {
      font-size: 16px;
    }
    @include media-tablet {
      font-size: 14px;
    }
  }
}
