.request {
  position: relative;
  &__form {
    display: grid;
    gap: 30px;
  }
  &__ui-button {
    width: 100%;
    border: 1px solid $orange;
    color: $orange;
    background: #fff;
    @include media-tablet {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
  &__ui-p3 {
    color: $grey90;
  }
  &__ui-checkbox {
    a {
      text-decoration: underline;
    }
  }
  .ui-select {
    .select2 {
      &-selection{
        &__arrow {
          color: $grey90 !important;
        }
      }
    }
  }
  &__ui-select {
    .select2 {
      &-selection{
        opacity: .7;
      }
    }
  }
}
