mixin request(data, mods)
  -
    const baseName = 'request'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .request(class=allMods)&attributes(attributes)
    .request__form
      each input in data.inputs
        +ui-input(input.text, input.id, '', input.type)
      +ui-select('', '', 'Option 1', 'Option 2', 'Option 3', 'Option 4')(data-placeholder='Регион ведения бизнеса')
      +ui-select('request', '', 'Option 1', 'Option 2', 'Option 3', 'Option 4')(data-placeholder='Дополнительный офис банка')
      each checkBox in data.checkboxes
        +ui-checkbox(checkBox.id, checkBox.text, 'request')
          a(href=checkBox.link) !{checkBox.linkText}
      +ui-p3(data.bottomText, "request")
      +ui-button(data.buttonText, "request")
    block