mixin request(data, mods)
  -
    const baseName = 'request'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .request(class=allMods)&attributes(attributes)
    form.request__form(action='/' method='post')
      each input in data.inputs
        +ui-input(input.id, input.text, 'request', input.type)
      each select in data.selects
        +ui-select(select.mods, '', ...select.options)(data-placeholder=select.placeholder)
      each checkBox in data.checkboxes
        +ui-checkbox(checkBox.id, checkBox.text) 
          a.request__link(href=checkBox.link) !{checkBox.linkText}
      if data.bottomText
        +ui-p3(data.bottomText)
      +ui-button(data.buttonText, "request")
    block