.request {
  &__form {
    display: grid;
    gap: 30px;
  }
  &__ui-button {
    width: 100%;
    background: #fff;
    border: 1px solid $orange;
    color: $orange;
    @include media-tablet {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
  &__ui-input {
    input {
      padding-left: 15px;
    }
    input:focus,
    .filled {
      ~ label {
        display: none;
      }
    }
    label {
      position: absolute;
      top: 50%;
      left: 15px;
      transform: translateY(-50%);
    }
  }
  &__link {
    text-decoration: underline;
  }
  &--grey90 {
    color: $grey90;
    .request__ui-input {
      input {
        color: $grey90;
      }
      label {
        color: $grey90;
      }
    }
    .ui-select {
      .select2 {
        &-selection {
          &__arrow {
            color: $grey90 !important;
          }
        }
      }
    }
  }
}
