extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')
  link(rel='stylesheet' href=fileName + '.min.css')

block scripts
  script(src='../../js/index.js')
  script(src=fileName + '.js')

block variables
  -const fileName = 'concessional-lending-inner'
  -const pageTitle ='Кредитование импортеров'

  -
    const termsItems =[
      { name: 'Сумма', descr: 'от 3 млн рублей' },
      { name: 'Ставка', descr: 'Ставка рассчитывается по следующей формуле:  <br>ключевая ставка ЦБ РФ×0,3 + 3%' },
      { name: 'Срок льготной ставки',
        sections: [
          { title: '12 месяцев', descr: 'c даты выдачи первого транша на финансирование импортного контракта на приобретение продукции' },
          { title: '36 месяцев', descr:  `с даты выдачи первого транша на финансирование импортного контракта на приобретение оборудования
            и&nbsp;(или)&nbsp;средств производства в рамках инвестиционного проекта или финансирование импортного контракта
            на&nbsp;приобретение оборудования и&nbsp;(или)&nbsp;средств производства, срок изготовления и поставка которого превышает 12&nbsp;месяцев
            `
          },
        ]
      },
      { name: 'Требование к заемщикам',
        list: [
          'Являются налоговыми резидентами Российской Федерации',
          'Не находятся в процессе реорганизации, ликвидации, не введена процедура банкротства',
          'Отсутствие просроченных на срок более 90 календарных дней платежей по кредитным договорам, договорам поручительства (положительная кредитная история)',
          'Отсутствие неисполненных обязанностей по уплате налогов, сборов',
          'Не являются иностранными юридическими лицами, а также российскими юридическими лицами с долей участия иностранных юридических лиц, зарегистрированных в оффшорных зонах, в общей совокупности более 50%',
          'Отсутствие сведений о дисквалифицированных руководителях, членах коллегиального исполнительного органа, главном бухгалтере',
          'Отсутствие просроченной задолженности по возврату в федеральный бюджет субсидий',
          'Отсутствие сведений о причастности к экстремистской деятельности или терроризму',
          'Отсутствие ранее заключенного соглашения на льготное кредитование в рамках указанного постановления по одному и тому же импортному контракту',
        ]
      },
      { name: 'Требования к импортному контракту',
        list: [
          'Заключен после 1 марта 2022 года в иностранной валюте между заемщиком или уполномоченным лицом и иностранным поставщиком на приобретение и ввоз на территорию России (включая транспортировку) продукции (товаров, оборудования, средств производства), являющейся приоритетной',
          'Сумма обязательств по импортному контракту равна эквиваленту 3 млн рублей или&nbsp;более',
        ]
      },
    ]

  -
    const list1 = [
      'оборудования',
      'средств производства',
    ]

block content
  main
    +banner('--m-vertically')
      +banner__item('--lending-importers')
        +banner__wrapper('img/banner_program_lending_importers.png', true)
          +banner__h1('Кредитование импортеров', '--mob-size-l, --mob-mb-l', false)
          +banner__text('Льготная программа Минпромторга (постановление Правительства&nbsp;РФ №895 от&nbsp;18.05.2022)')
    .page-content
      +section('--mt0')
        .inner
          +about-programm('img/about_programm_lending_importers.png',
                          `Программа предусматривает предоставление льготных кредитов юридическим лицам
                          или&nbsp;ИП на финансирование импортных контрактов с&nbsp;целью приобретения и ввоз
                          на&nbsp;территорию РФ (включая транспортировку) продукции, являющейся приоритетной
                          для&nbsp;импорта.`,
                          '--lending-importers')

      +section()
        .inner
          +section-head
            +ui-h2('Условия')
          +terms(termsItems, '--mob-block')
            .terms__tr
              .terms__td Срок выборки по кредиту
              .terms__td
                .terms__section
                  .terms__section-title до 31 октября 2022
                  .terms__section-descr финансирование контракта на приобретение продукции
                .terms__section
                  .terms__section-title до 30 ноября 2023
                  .terms__section-descr
                    p финансирование импортного контракта на приобретение
                    .terms__section-ul
                      +ui-ul(list1, '--li-mb10')
                    p в рамках инвестиционного проекта или срок изготовления и поставка которого превышает 12 месяцев
            .terms__tr
              .terms__td Перечень приоритетной для импорта продукции
              .terms__td
                .terms__section
                  .terms__section-title Предусмотрен Приложением №1 к Постановлению Правительства РФ № 895 от&nbsp;18&nbsp;мая&nbsp;2022
                .terms__section
                  +documents-item('Постановление Правительства РФ&nbsp;№&nbsp;895')

      +section()#form-section
        .inner
          .form-container
            +section-head().text-center
              +ui-h2('Заявка на получение кредита', 'section-head')

  +seo('Кредит для бизнеса')
    p АТБ помогает развиваться малым и средним предприятиям, предлагая несколько вариантов оформления кредита на развитие бизнеса:
    ul
      li Инвестиционный и кредит на пополнение оборотных средств;
      li «Зарплатный» (позволяет получить сумму на выдачу зарплат);
      li Овердрафт (осуществляет возможность срочного финансирования разрывов по кассе).
    p Кредит на развитие бизнеса — это один из наиболее простых и легких путей, с помощью которого можно обеспечить материальную составляющую для процветания собственного дела. АТБ нацелен на активное сотрудничество со средними и малыми предпринимателями и предлагает выгодные кредитные программы различной направленности.
    p Снижение процентных ставок, облегчение процедуры оформления документов, индивидуальный подход к каждому клиенту — лишь немногие преимущества вашего сотрудничества с Азиатско-Тихоокеанским Банком. Работая с АТБ, вы получите кредит под бизнес, который поможет развить ваше дело.
    h2 Процедура оформления заёма
    p Процесс оформления кредита не отнимает много времени. Отправив специальную заявку на сайте, вы получите обратную связь в течение нескольких минут. Мы делаем упор на рассмотрение заявок в минимальные сроки. Гибкие кредитные программы могут удовлетворить любые потребности клиентов. Индивидуальный подход к потребителям банковских кредитов среднему бизнесу делает процедуру оформления наиболее простой и понятной для каждого. Предоставляется услуга разработки персонального погашения задолженности.
    h2 Пакет документов
    p Сбор документов является важным этапом при оформлении кредита на развитие бизнеса. Всем своим заемщикам банк АТБ предлагает собрать минимальный пакет бумаг. Условия выдачи займа зависят от того, на какой стадии развития находится бизнес-дело.
    p Для рассмотрения заявки по кредиту на развитие уже работающего бизнеса достаточно лишь заявления и нескольких справок. Если вы оформляете заём для осуществления стартапа, предоставьте регистрационные и финансовые документы на ИП или предприятие.
