extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')
  link(rel='stylesheet' href=fileName + '.min.css')

block scripts
  script(src='../../js/index.js')
  script(src=fileName + '.js')

block variables
  -const fileName = 'concessional-lending-inner'
  -const pageTitle ='Стимулирование предпринимательства | Программа кредитования МСП от АТБ'

  -
    const termsItems =[
      { name: 'Цели кредитования', descr: 'Приобретение основных средств, модернизация и реконструкция производства, а&nbsp;также рефинансирование (инвестиционные цели*);' },
      { name: 'Сумма', descr: 'от 3 млн руб. до 1 млрд рублей включительно' },
      { name: 'Срок', descr: 'до 5 лет (Льготная ставка действует только в течение первых 3-х лет)' },
      { name: 'Ставка', descr: '15% годовых для субъекта малого и микро предпринимательства <br>13,5% годовых для субъектов среднего предпринимательства' },
    ]

block content
  main
    +banner('--m-vertically')
      +banner__item('--programm-sme-atb')
        +banner__wrapper('img/banner_programm_sme_atb.png', true)
          +banner__h1('Программа стимулирования кредитования субъектов МСП', '--mob-size-l, --mob-mb-l', false)
    .page-content
      +section('--mt0')
        .inner
          +about-programm()
            p «Азиатско-Тихоокеанский Банк» (АО)
              b  аккредитован Акционерным обществом «Федеральная корпорация по развитию малого и среднего предпринимательства»
              |  (Корпорация МСП) в качестве уполномоченного банка для участия в Программе стимулирования кредитования субъектов малого и среднего предпринимательства (Программа).
            p  Программа является государственным механизмом
              b  финансовой поддержки субъектов малого и среднего предпринимательства
              |  (субъекты МСП) и реализуется Корпорацией МСП в рамках взаимодействия с Банком России.

      +section()
        .inner
          +section-head('--max-w900')
            +ui-h4('Программа стимулирования кредитования малого и среднего предпринимательства предусматривает кредитование субъектов МСП, осуществляющих деятельность в любой отрасли <b>(за исключением субъектов МСП, указанных в ч.3,4 ст.14 ФЗ от 24.07.2007г. №209-ФЗ с ограничениями)</b>, на следующих льготных условиях:')
          +terms(termsItems)
          +section-footnote('*Не относятся к инвестиционным кредитам, используемым на цели, указанные в части 1 статьи 18 ФЗ от 30.12.2004г. № 214-ФЗ «Об участии в долевом строительстве многоквартирных домов и иных объектов недвижимости и о внесении изменений в некоторые законодательные акты РФ»')
      +section()#form-section
        .inner
          .form-container
            +section-head().text-center
              +ui-h2('Оставить заявку', 'section-head')
