extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')
  link(rel='stylesheet' href=fileName + '.min.css')

block scripts
  script(src='../../js/index.js')
  script(src=fileName + '.js')

block variables
  -const fileName = 'concessional-lending-inner'
  -const pageTitle ='Стимулирование предпринимательства | Программа кредитования МСП от АТБ'

  -
    const termsItems =[
      { trMods: 'terms__tr--mob-block', name: 'Сумма', descr: 'от&nbsp;50&nbsp;млн рублей до&nbsp;1&nbsp;млрд рублей' },
      { trMods: 'terms__tr--mob-block', name: 'Срок', descr: 'до&nbsp;10&nbsp;лет (срок действия льготной ставки&nbsp;&mdash; не&nbsp;более 5&nbsp;лет)' },
      { trMods: 'terms__tr--mob-block', name: 'Ставка', list: [
        '<p>В&nbsp;течение первых 3-х лет кредитования:</p><p>&mdash;&nbsp;до&nbsp;2,5%&nbsp;&mdash; для среднего бизнеса</p><p>&mdash;&nbsp;до&nbsp;4%&nbsp;&mdash; для малого и&nbsp;микробизнеса</p>',
        '<p>4-5 год кредитования:</p><p>Не&nbsp;более: ключевая ставка Банка России, действующая на&nbsp;дату заключения <br> кредитного договора + 2,75% (для всех категорий субъектов МСП)</p>',
      ] },
      { trMods: 'terms__tr--mob-block', name: 'Цель кредитования', descr: 'инвестиционные цели' },
      { trMods: 'terms__tr--mob-block', name: 'Требования к&nbspзаемщику', list: [
        'Включен в&nbsp;единый реестр субъектов малого и&nbsp;среднего предпринимательства (МСП)',
        'Не&nbsp;осуществляет подакцизную деятельность* и&nbsp;добычу/реализацию полезных ископаемых',
        'Не&nbsp;участвует в&nbsp;уставном (складочном) капитале юридических лиц, не&nbsp;относящихся к&nbsp;категории субъектов МСП, с&nbsp;долей такого участия более 25&nbsp;процентов и&nbsp;не&nbsp;имеет в&nbsp;качестве участника (акционера) юридическое лицо, не&nbsp;относящееся к&nbsp;категории субъектов МСП, с&nbsp;долей участия в&nbsp;уставном (складочном) капитале более 25&nbsp;процентов',
        'Юридическое лицо, являющееся контролирующим лицом (являющимся таковым в&nbsp;соответствии с&nbsp;законодательством Российской Федерации) заемщика, а&nbsp;также всех лиц, входящих в&nbsp;цепочку собственников заемщика, является резидентом Российской Федерации',
        'Не&nbsp;находится в&nbsp;процессе реорганизации, ликвидации, не&nbsp;введена процедура банкротства',
        'Доля финансирования заемщиком инвестиционного проекта за&nbsp;счет собственных средств составляет не&nbsp;менее&nbsp;10%',
      ] },
      { trMods: 'terms__tr--mob-block', name: 'Отрасли экономики (приоритетные виды деятельности) **', list: [
        'Обрабатывающее производство, в&nbsp;том числе производство пищевых продуктов, первичная и&nbsp;последующая (промышленная) переработка сельскохозяйственной продукции, в&nbsp;том числе в&nbsp;целях обеспечения импортозамещения и&nbsp;развития несырьевого экспорта',
        'Транспортировка и хранение (складское хозяйство и вспомогательная транспортная деятельность)',
        'Деятельность гостиниц',
        'Деятельность профессиональная, научная, техническая (классы ОКВЭД 74, 72&nbsp;и&nbsp;71, за&nbsp;исключением подгруппы 71.12.2 &laquo;Деятельность заказчика-застройщика, генерального подрядчика&raquo;)',
      ] },
    ]

block content
  main
    +banner('--m-vertically')
      +banner__item('--programm-investment')
        +banner__wrapper('img/banner_programm-investment.png', true)
          +banner__h1('Льготная программа инвестиционного кредитования', '--mob-size-l, --mob-mb-l', false)
          +banner__text('При участии Минэкономразвития России совместно с&nbsp;Банком России и&nbsp;Корпорацией МСП')
    .page-content
      +section('--mt0')
        .inner
          +about-programm('img/about_programm-investment.png', 'Программа предусматривает льготное кредитование субъектов МСП, осуществляющих деятельность в&nbsp;приоритетных отраслях (обрабатывающее производство, складское хозяйство/вспомогательная транспортная деятельность, гостиничный бизнес, деятельность в&nbsp;области архитектуры и&nbsp;инженерно-технического проектирования)', '--programm-investment')

      +section
        .inner
          +section-head
            +ui-h2('Условия', 'section-head')
          +terms(termsItems)
          +section-footnote('*за&nbsp;исключением предприятий гостиничного бизнеса', '--fz16')
            br
            | **основной вид экономической деятельности заемщика, которому предоставляется кредит должен соответствовать одному из&nbsp;видов деятельности, предусмотренных приложением &#8470;&nbsp;2 к&nbsp;
            a.text-orange.text-underline(href='#') Программе стимулирования кредитования субъектов малого и&nbsp;среднего предпринимательства

      +section#form-section
        .inner
          .form-container
            +section-head.text-center
              +ui-h2('Заявка на получение кредита', 'section-head')

  +seo('Кредит для бизнеса')
    p АТБ помогает развиваться малым и средним предприятиям, предлагая несколько вариантов оформления кредита на развитие бизнеса:
    ul
      li Инвестиционный и  кредит на пополнение оборотных средств;
      li «Зарплатный» (позволяет получить сумму на выдачу зарплат);
      li Овердрафт (осуществляет возможность срочного финансирования разрывов по кассе).
    p Кредит на развитие бизнеса — это один из наиболее простых и легких путей, с помощью которого можно  обеспечить материальную составляющую для процветания собственного дела. АТБ  нацелен на активное сотрудничество со средними и малыми предпринимателями и  предлагает выгодные кредитные программы различной направленности.
    p Снижение процентных ставок, облегчение процедуры оформления документов, индивидуальный подход к каждому клиенту — лишь немногие преимущества вашего сотрудничества с Азиатско-Тихоокеанским Банком. Работая с АТБ, вы получите кредит под бизнес, который поможет развить ваше дело.
    h2 Процедура оформления заёма
    p Процесс оформления кредита не отнимает много времени. Отправив  специальную заявку на сайте, вы получите обратную связь в течение нескольких  минут. Мы делаем упор на рассмотрение заявок в минимальные сроки. Гибкие  кредитные программы могут удовлетворить любые потребности клиентов.  Индивидуальный подход к потребителям банковских кредитов среднему бизнесу делает процедуру  оформления наиболее простой и понятной для каждого. Предоставляется услуга  разработки персонального погашения задолженности.
    h2 Пакет документов
    p Сбор документов является важным этапом при оформлении кредита на развитие бизнеса. Всем своим заемщикам банк АТБ предлагает собрать минимальный пакет бумаг. Условия выдачи займа зависят от того, на какой стадии развития находится бизнес-дело.
    p Для рассмотрения заявки по кредиту на развитие уже работающего бизнеса достаточно лишь заявления и нескольких справок. Если вы оформляете заём для осуществления стартапа, предоставьте регистрационные и финансовые документы на ИП или предприятие.
