extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')
  link(rel='stylesheet' href=fileName + '.min.css')

block scripts
  script(src='../../js/index.js')
  script(src=fileName + '.js')

block variables
  -const fileName = 'concessional-lending-inner'
  -const pageTitle ='Льготная программа кредитования резидентов ТОР и СПВ, зарегистрированных на территории г. Москвы | АТБ'

  -
    const termsItems =[
      { name: 'Цели кредитования', descr: 'Реализация новых инвестиционных проектов на территориях субъектов Российской Федерации, входящих в состав Дальневосточного федерального округа' },
      { name: 'Сумма', descr: 'от 10 млн рублей до 500 млн рублей включительно' },
      { name: 'Размер собственных средств заемщика', descr: 'не менее 20% от инвестиционной стоимости проекта' },
      { name: 'Срок', descr: 'до 10 лет' },
      { name: 'Ставка', descr: 'от 2,25% годовых' },
    ]

  -
    const industriesList =[
      'Сельское хозяйство, включая производство сельскохозяйственной продукции, а также предоставление услуг в этой отрасли экономики;',
      'Обрабатывающее производство, в том числе производство пищевых продуктов, первичная и последующая (промышленная) переработка сельскохозяйственной продукции;',
      'Строительство;',
      'Туристская деятельность и деятельность в области туристской индустрии в целях развития внутреннего и въездного туризма;',
      'Деятельность в области информации и связи;',
      'Деятельность в области здравоохранения;',
      'Деятельность в области образования;',
      'Транспортировка и хранение;',
      'Деятельность профессиональная, научная и техническая;',
      'Деятельность по уходу с обеспечением проживания.',
    ]

  -
    const imgBanners =[
      { link: 'https://erdc.ru/', src: 'img/fareast_blue.jpg' },
      { link: 'https://erdc.ru/', src: 'img/fareast_pink.jpg' },
    ]

block content
  main
    +banner('--m-vertically')
      +banner__item('--program-asez-fpv')
        +banner__wrapper('img/banner_program_asez_fpv.png', true)
          +banner__h1('Льготная программа кредитования резидентов ТОР и&nbsp;СПВ', '--mob-size-l, --mob-mb-l', false)
          +banner__text('Реализуемая совместно с&nbsp;Минвостокразвития в&nbsp;рамках Постановления Правительства РФ&nbsp;№1818 от&nbsp;25.12.2019')
    .page-content
      +section('--mt0')
        .inner
          +about-programm('img/about_programm_asez_fpv.png', '«Азиатско-Тихоокеанский Банк» (АО) является уполномоченным банком Минвостокразвития России и реализует программу льготного кредитования резидентов ТОР и СПВ в рамках Постановления Правительства РФ от 25.12.2019 № 1818', '--asez-fpv')

      +section
        .inner
          +section-head('--max-w')
            +ui-h4('Программа предусматривает предоставление кредитов резидентам <b>ТОР и СПВ</b>, осуществляющим деятельность в <b>приоритетных отраслях</b>, на следующих льготных условиях:')
          +terms(termsItems)

      +section
        .inner
          +img-banners(imgBanners)
          +section-box
            +documents-item('Преференциальные режимы Дальнего Востока и Арктики')

      +section
        .inner
          +section-head
            +ui-h2('Перечень приоритетных отраслей', 'section-head')
          +ui-p1('', '--light')
            +ui-ul(industriesList)

      +section()#form-section
        .inner
          .form-container
            +section-head().text-center
              +ui-h2('Оставить заявку', 'section-head')
