extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')
  link(rel='stylesheet' href=fileName + '.min.css')

block scripts
  script(src='../../js/index.js')
  script(src=fileName + '.js')

block variables
  -const fileName = 'concessional-lending-inner'
  -const pageTitle ='Льготная программа кредитования резидентов ТОР и СПВ, зарегистрированных на территории г. Москвы | АТБ'

  -
    const termsItems =[
      { name: 'Цели кредитования', descr: 'Приобретение основных средств, модернизация и реконструкция производства / пополнение оборотных средств / рефинансирование/ развитие предпринимательской деятельности;' },
      { name: 'Сумма', descr: 'до 50 млн.рублей (до 5 млн.руб. на развития предпринимательской деятельности);' },
      { name: 'Срок льготной % ставки', descr: 'до 12 месяцев;' },
      { name: 'Ставка', descr: 'Не более ½ Ключевой ставки ЦБ РФ на дату подписания КД + 5% годовых;' },
      { name: 'Срок заключения КД', descr: 'до 31.12.2022г.' },
    ]

block content
  main
    +banner()
      +banner__item('--program-sme-moscow')
        +banner__wrapper('img/banner_program_sme_moscow.jpg')
          +banner__h1('Льготная программа кредитования субъектов МСП, зарегистрированных на территории г. Москвы', '--size-s')
          +banner__descr('Реализуемая совместно с Департаментом предпринимательства и инновационного развития г.Москвы', '--size-xxs').banner__mob-none
    .page-content
      +section('--mt0')
        .inner
          +about-programm('img/about_programm_sme_moscow.png', '«Азиатско-Тихоокеанский Банк» (АО) является уполномоченным банком Департамента предпринимательства и инновационного развития г. Москвы и реализует программу льготного кредитования субъектов МСП, зарегистрированных на территории г. Москвы', '--sme-moscow')

      +section()
        .inner
          +section-head('--max-w900')
            +ui-h4('Программа предусматривает предоставление кредитов субъектам МСП, зарегистрированным на территории г. Москвы и осуществляющих деятельность на следующих льготных условиях в любой отрасли (за исключением субъектов МСП, указанных в ч.3 ст.14 ФЗ от 24.07.2007г. №209-ФЗ), на следующих льготных условиях:')
          +terms(termsItems)

      +section()#form-section
        .inner
          .form-container
            +section-head().text-center
              +ui-h2('Оставить заявку', 'section-head')
