mixin internet-bank-benefits(data, mods)
  -
    const baseName = 'internet-bank-benefits'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .internet-bank-benefits(class=allMods)&attributes(attributes)
    .internet-bank-benefits__img
      img(src=data.img, alt='')
    +ui-ul(data.list, 'internet-bank-benefits')
    block
