mixin about-programm(img, text, mods)
  -
    const baseName = 'about-programm'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .about-programm(class=allMods)&attributes(attributes)
    if img
      .about-programm__img
        img(src=img, alt='')
    if text
      .about-programm__text !{text}
    block
