extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')
  link(rel='stylesheet' href=fileName + '.min.css')

block scripts
  script(src='../../js/index.js')
  //- script(src=fileName + '.js')

block variables
  -const fileName = 'escrow-acc'
  -const pageTitle ='Счет эскроу'

  -
    const featuresItems = [
      { icon: 'img/icon_partners.svg', title: 'Депонент', descr: 'владелец счета эскроу участник долевого строительства, осуществляющий внесение денежных средств на счет эскроу в счет уплаты цены приобретаемого объекта' },
      { icon: 'img/icon_helmet.svg', title: 'Бенефициар', descr: 'застройщик  (юридическое лицо), получивший в соответствии с Законом <span class="text-nowrap">№ 214-ФЗ</span> разрешение на строительство многоквартирного дома и (или) иного объекта недвижимости и заключивший с Депонентом договор долевого участия в строительстве' },
      { icon: 'img/icon_bank.svg', title: 'Эскроу-агент', descr: '«Азиатско-Тихоокеанский Банк» (АО), уполномоченный банк в соответствии <span class="text-nowrap"> 214-ФЗ</span> ' },
    ]

  -
    const benefitsItems = [
      { icon: 'img/benefit_1.svg', title: 'Все под контролем', descr: 'Перечисление на счет застройщика происходит только после ввода объекта недвижимости в эксплуатацию' },
      { icon: 'img/benefit_2.svg', title: 'Безопасно', descr: 'Денежные средства, размещенные на счете эскроу, застрахованы в соответствии с Федеральным законом <span class="text-nowrap">№177-ФЗ</span>' },
      { icon: 'img/benefit_3.svg', title: 'Быстро и просто', descr: 'Открытие счета за 1 день по&nbsp;трем документам' },
    ]

  -
    const list1 =[
      'Документ, удостоверяющий личность участника долевого строительства (Депонента);',
      'Зарегистрированный в установленном законом порядке Договор долевого участия в строительстве.',
      '<a class="text-grey-blue" href="#">Заявление на открытие счета эскроу</a> (pdf)',
    ]

  -
    const list2 =[
      'Комплект правоустанавливающих документов для открытия счета для юридического лица (ссылка на документ);',
      'Комплект правоустанавливающих документов для открытия счета для индивидуального предпринимателя (ссылка на документ);',
      'Зарегистрированный в установленном законом порядке Договор долевого участия в строительстве.',
      '<a class="text-grey-blue" href="#">Заявление на открытие счета эскроу</a> (pdf)',
    ]

block content
  main
    +banner()
      +banner__item('--escrow-acc')
        +banner__wrapper('img/banner_escrow_acc.jpg')
          +banner__h1('Счет эскроу')
          +banner__descr('Современный расчетный и одновременно обеспечительный инструмент, предоставляющий возможность защитить интересы обеих сторон при расчетах по сделке.', '--size-xs').banner__mob-none
        +banner__mobile
          p Современный расчетный и одновременно обеспечительный инструмент, предоставляющий возможность защитить интересы обеих сторон при расчетах по сделке.

    .page-content
      +section('--mt0')
        .inner
          +about-programm('img/about_programm.png',
                          '«Азиатско-Тихоокеанский Банк» (АО) открывает Эскроу счета в целях оплаты дольщиком цены по договору долевого участия в строительстве застройщику в соответствии с Федеральным законом «Об участии в долевом строительстве многоквартирных домов и иных объектов недвижимости и о внесении изменений в некоторые законодательные акты Российской Федерации» № 214-ФЗ от 30.12.2004 (214-ФЗ).',
                          '--escrow-acc')

      +section
        .inner
          +section-head().text-center
            +ui-h2('Преимущества обслуживания в АТБ', 'section-head')
          +benefits(benefitsItems, '--ai-start')

      +section
        .inner
          +section-head('--max-w600, --center').text-center
            +ui-h4('Эскроу счет открывается на основании договора, заключенного тремя участниками:')
          +features(featuresItems, '--3items')

      +section('--inner-grey-deskt')
        .inner
          .section__bg
            +section-head().text-center
              +ui-h2('Как это работает', 'section-head')
            +escrow-acc-diagram

      +section
        .inner
          +escrow-acc-cost

      +section
        .inner
          +accordion
            +accordion-item('Документы')
              +section-box
                +ui-p1()
                  p Документы для открытия эскроу счета (владелец счета – физическое лицо):
                  +ui-ul(list1)
              +section-box
                +ui-p1()
                  p Документы для открытия эскроу счета (владелец счета – юридическое лицо/индивидуальный предприниматель):
                  +ui-ul(list2)
