.ui-h5 {
  font: 20px/1.3 $font;
  @include media-laptop {
    font-size: 18px;
  }
  @include media-tablet {
    font-size: 16px;
  }
  &--bold {
    font-weight: 700;
  }
  &--light {
    font-weight: 300;
  }
}
