@import '../../styles/utils/variables';
@import '../../styles/utils/media';
@import '../../blocks/request/request';
@import '../../blocks/cards/card-express/card-express';

.express__form-container {
  max-width: 700px;
  margin: 0 auto;
}
.express-credits__card-express {
  grid-template-columns: repeat(6, 1fr);
  @include media-laptop {
    grid-template-columns: repeat(2, 1fr);
  }
  .card-express-item {
    &:nth-child(1),
    &:nth-child(2) {
      padding: 34px 25px 34px 30px;
      grid-column: span 3;
      @include media-laptop {
        grid-column: unset;
      }
    }
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6) {
      padding: 34px 10px 34px 35px;
      grid-column: span 2;
      @include media-laptop {
        grid-column: unset;
      }
    }
  }
  @include media-tablet {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}