extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')
  link(rel='stylesheet' href=fileName + '.min.css')

block scripts
  script(src='../../js/index.js')
  script(src=fileName + '.js')

block variables
  -
    const fileName = 'express-credits'
    const bannerItems = [
      {
        image: 'img/banner_express-credits.png',
        h1: 'Льготные экспресс-кредиты для бизнеса',
        text: 'до 50 млн рублей по программе Минэкономразвития',
        buttonText: 'оставить заявку'
      }
    ]

    const cardItems = [
      {
        image: 'img/card1.png',
        alt: 'card1',
        text: 'Ставка по кредиту ниже ключевой ставки ЦБ'
      },
      {
        image: 'img/card2.png',
        alt: 'card2',
        text: 'Без залога до 20 млн рублей'
      },
      {
        image: 'img/card3.png',
        alt: 'card3',
        text: 'Без скрытых комиссий за выдачу и сопровождение'
      },
      {
        image: 'img/card4.png',
        alt: 'card4',
        text: 'Онлайн оформление заявки на кредит'
      },
      {
        image: 'img/card5.png',
        alt: 'card5',
        text: 'Решение по 2 документам'
      }
    ]

    const howGetItems = [
      {
        icon: 'img/icon_how_get1.svg',
        title: 'Оставьте <a class="text-orange" href="#section-form">заявку</a>',
        descr: 'на&nbsp;сайте',
      },
      {
        icon: 'img/icon_how_get2.svg',
        title: 'Дождитесь одобрения банком',
        descr: 'Мы сообщим о&nbsp;принятом решении',
      },
      {
        icon: 'img/icon_how_get3.svg',
        title: 'Получите деньги на&nbsp;счет в&nbsp;АТБ',
        descr: 'после подписания договора',
      },
    ]

    const requestData = {
        inputs: [
            { placeholder: 'ФИО', id: 'name', type: "text" },
            { placeholder: 'Мобильный номер телефона', id: 'phone', type: "phone" }
        ],
        checkboxes: [
            { id: 'personalDataRequestCheckBox', text: 'Я выражаю свое согласие на ', link: '#', linkText: 'обработку и передачу моих персональных данных' },
            { id: 'offersBankRequestCheckBox', text: 'Я выражаю свое согласие на получение ', link: '#', linkText: 'предложений от Банка' }
        ],
        selects: [
            { placeholder: 'Регион ведения бизнеса', mods: '', options: [ "option1", "option2", "option3", "option4" ] },
            { placeholder: 'Дополнительный офис банка', mods: '--inconsiderable', options: [ "option1", "option2", "option3", "option4" ] }
        ],
        bottomText: 'После нажатия на кнопку "Подтвердить" на Ваш телефон будет направлен 4-значный код. Вводя код из СМС, я подтверждаю, что согласен <a href ="#" class="request__link">с условиями обработки персональных данных и оформления услуг, а также получение предложений от Банка (при проставлении соответствующей отметки выше)</a>',
        buttonText: 'подтвердить'
    }
    const requirementsItems1 = [
      { icon: 'img/requirement1.svg', text: 'Поручительство физического лица' },
    ]

    const requirementsItems2 = [
      { icon: 'img/requirement3.svg', text: 'Анкета-заявка на&nbsp;получение кредита' },
    ]

    const requirementsItems3 = [
      { icon: 'img/requirement2.svg', text: 'Срок регистрации бизнеса — не&nbsp;менее 12&nbsp;месяцев' },
      { icon: 'img/requirement3.svg', text: 'Организационно-правовая форма: ИП, ООО' },
      { icon: 'img/requirement4.svg', text: 'В&nbsp;составе учредителей юридического лица нет другого юридического лица' },
      { icon: 'img/requirement5.svg', text: 'Процедура банкротства отсутствует' },
      { icon: 'img/requirement6.svg', text: 'Годовая выручка не&nbsp;превышает 2&nbsp;млрд рублей' },
      { icon: 'img/requirement7.svg', text: 'Резидент РФ' },
    ]

block content
  main
    +banner('--m-vertically')
      each bannerItem in bannerItems
        +banner__item('--express-credits')
          +banner__wrapper(bannerItem.image, true)
            +banner__h1(bannerItem.h1, '--mb-l, --mob-mb-l')
            +banner__text(bannerItem.text, '--mw-l')
            +banner__foot()
              +ui-button(bannerItem.buttonText, '--m-w100, --m-size-l')(href='#')
    .page-content
      +section
        .inner
          +card-express("express-credits")
            each card in cardItems
              +card-express-item(card, "--bg-grey")
            
      +section('--bg-grey')
        .inner
          +how-get('Как получить кредит', howGetItems)

      +section#section-form
        .inner
          +section-head.text-center
            +ui-h2('Заявка на получение кредита', 'section-head')
          .express__form-container
            +request(requestData, '--grey90')

      +section
        .inner
          +accordion
            +accordion-item('Обеспечение')
              +requirements(requirementsItems1)
            +accordion-item('Документы')#questionnaire
              +ui-p2
                a.text-grey-blue(href='#') Общие условия кредитования по&nbsp;продукту «Бизнес-экспресс»
                br
                a.text-grey-blue(href='#') Общие условия договора поручительства
              br
              +requirements(requirementsItems2)
              +section-footnote
                p Банк оставляет за&nbsp;собой право запросить дополнительные документы, которые могут способствовать принятию положительного решения о&nbsp;предоставлении кредита
            +accordion-item('Требования')
              +requirements(requirementsItems3)
