extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')
  link(rel='stylesheet' href=fileName + '.min.css')

block scripts
  script(src='../../js/index.js')

block variables
  -
    const fileName = 'business-support'
    const pageTitle ='Бесплатная поддержка малого и среднего бизнеса в Москве'

    const tabsHeadItems = [
      { text: 'Бесплатное обучение для предпринимателей' },
      { text: 'Бесплатные бизнес-консультации' },
      { text: 'Бесплатные услуги для бизнеса' },
      { text: 'Штаб по защите бизнеса' },
    ]

block content
  main
    +banner
      +banner__item('--business-support')
        +banner__wrapper('img/banner_business-support.jpg')
          +banner__h1('Бесплатная поддержка малого и среднего бизнеса в Москве')
          +banner__descr('Помощь новичкам в бизнесе и предпринимателям с опытом. При поддержке Правительства Москвы.', '--size-xxs').banner__mob-none
        +banner__mobile
          p Помощь новичкам в бизнесе и&nbsp;предпринимателям с опытом.
          p При поддержке Правительства Москвы.
    .page-content
      +section('--mt0')
        +tabs-head(tabsHeadItems, '', '--grey, --outside')
        +tabs-main
          +tabs-main__item(true)
            +section('--mt0')
              .inner
                +section-head
                  +ui-h2('Бесплатное обучение для предпринимателей', 'section-head')
                  +ui-p1('Одно из главных направлений деятельности MBM.MOS – бесплатная поддержка в сфере образования.')
                +ui-button('посмотреть')(href='#')
            +section
              .inner
                +business-support
          +tabs-main__item
            +section('--mt0')
              .inner
                +section-head
                  +ui-h2('Бесплатные бизнес-консультации', 'section-head')
                  +ui-p1('Проконсультироваться по&nbsp;вопросам открытия и&nbsp;ведения бизнеса в&nbsp;Москве можно в&nbsp;16&nbsp;Центрах услуг для бизнеса&nbsp;&mdash; в&nbsp;каждом административном округе, а&nbsp;также в&nbsp;Межрайонной ИФНС России &#8470;&nbsp;46&nbsp;по&nbsp;г. Москве, Цифровом деловом пространстве и&nbsp;в&nbsp;трех флагманских МФЦ&nbsp;&mdash; ЦАО, ЮАО и&nbsp;ЮЗАО.')
                  +ui-p1('', '--light')
                    ul.ui-ul
                      li Самая актуальная и достоверная информация по налоговому и бухгалтерскому учету, вопросам трудового и гражданского законодательства, государственным закупкам, имущественной и финансовой поддержке.
                      li В трех ЦУБ (в Центральном, Южном и Юго-Западном округах) консультации можно получить семь дней в неделю, в рабочее время и вечерние часы.
                      li Онлайн и офлайн-консультирование
                      li Информация о действующих субсидиях, льготных займах и многом другом
                  +ui-p1('А также получить консультации по основным вопросам открытия и ведения бизнеса можно по телефону +74952251414 или через онлайн-форму на сайте.')
                +ui-button('Получить консультацию')(href='#')
          +tabs-main__item
            +section('--mt0')
              .inner
                +section-head
                  +ui-h2('Бесплатные услуги для бизнеса', 'section-head')
                  +ui-p1('Более 20&nbsp;онлайн-сервисов для предпринимателей на&nbsp;MBM.MOS.RU помогают экономить время и&nbsp;деньги.')
                  +ui-p1('Получить бизнес-консультацию, подобрать налоговый режим, проверить законность вывески и&nbsp;благонадежность контрагента и&nbsp;многое другое можно на&nbsp;MBM.MOS.RU в&nbsp;блоке &laquo;Услуги онлайн&raquo;.')
                  +ui-p1('', '--light')
                    ul.ui-ul
                      li В помощь предпринимателям был разработан сервис
                        =' '
                        a.text-orange(href='https://mbm.mos.ru/assistant?utm_source=partners&utm_medium=a101&utm_campaign=ssilka_na_sajte', target='_blank') «Интерактивный помощник»
                        | , который поможет в считанные секунды получить информацию о том, какие финансовые, налоговые, имущественные, правовые меры поддержки подходят для конкретного пользователя. Кроме того, каждому предпринимателю будут подобраны полезные именно ему образовательные мероприятия и программы обучения, а также онлайн-сервисы для бизнеса. В особый блок выделены городские субсидии для предпринимателей. Интерактивный помощник на основе данных автоматической экспресс-проверки позволяет узнать сразу, соответствует ли компания основным критериям для получения субсидии и по каким причинам возможен отказ. Отдельно показаны меры поддержки для самозанятых.
                +ui-button('Подробнее')(href='#')
          +tabs-main__item
            +section('--mt0')
              .inner
                +section-head
                  +ui-h2('Штаб по защите бизнеса', 'section-head')
                  +ui-p1('Штаб по&nbsp;защите бизнеса был создан в&nbsp;2012 году в&nbsp;целях создания благоприятных условий для ведения предпринимательской деятельности и&nbsp;улучшения делового климата города Москвы.')
                  +ui-p1('', '--light')
                    ul.ui-ul
                      li Столкнулись с административными барьерами?
                      li Долго и безрезультатно согласовывают документы?
                      li Столкнулись с незаконными проверками?
                      li Есть предложения по улучшению условий для бизнеса в Москве?
                  +ui-p1('Решить эти вопросы поможет обращение в Штаб по защите бизнеса.')
                +ui-button('Подробнее')(href='#')
