mixin acquiring__benefits()
  -
    const acquiringBenefits =[
      { icon: 'img/features_icon_businessman.svg', descr: 'Преимущества интернет эквайринга' },
      { icon: 'img/features_icon_case.svg', descr: 'Выгоды для бизнеса' },
    ]

  -
    const list1 =[
      'Индивидуальные решения для Вашего бизнеса',
      'Современные технологические решения',
      'Личный кабинет для клиента',
      'Международные стандарты безопасности',
      'Круглосуточная служба клиентской поддержки',
    ]

  -
    const list2 =[
      'УВЕЛИЧЕНИЕ ПРИБЫЛИ до 50%',
      'РАСШИРЕНИЕ КЛИЕНТСКОЙ БАЗЫ за счет удобного способа оплаты',
      'ПОВЫШЕНИЕ ЛОЯЛЬНОСТИ  оплата товаров круглосуточно, в любой день и в любое время, не выходя из дома',
      'ПОВЫШЕНИЕ КОНКУРЕНТНОСПОСОБНОСТИ',
      'СНИЖЕНИЕ ОТКАЗОВ меньшая вероятность отказа от покупки при оплате товаров на сайте',
      'УМЕНЬШЕНИЕ РИСКОВ связанных с приемом наличных денежных средств курьерами'
    ]

  +benefits(acquiringBenefits, 'acquiring, --items2')
    +ui-ul(list1)
    +ui-ul(list2)
