extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')
  //- link(rel='stylesheet' href=fileName + '.min.css')

block scripts
  script(src='../../js/index.js')
  //- script(src=fileName + '.js')

block variables
  //- -const fileName = 'financing-fea'
  -const pageTitle ='Торговое финансирование в банке АТБ'

  -
    const stepsItems = [
      { icon: 'img/steps_1.svg', title: 'Согласовать с контрагентом форму расчетов и/или обеспечения обязательств по контракту.' },
      { icon: 'img/steps_2.svg', title: 'Предоставить в банк проект внешнеторгового контракта.' },
      { icon: 'img/steps_3.svg', title: 'Предоставить пакет документов для получения кредита.' },
    ]

  -
    const benefitsItems =[
      { icon: 'img/benefits_0.svg', title: 'Низкая стоимость' },
      { icon: 'img/benefits_1.svg', title: 'Длительные сроки финансирования' },
      { icon: 'img/benefits_2.svg', title: 'Отсрочка платежа' },
      { icon: 'img/benefits_3.svg', title: 'Дополнительные гарантии исполнения обязательств' },
      { icon: 'img/benefits_4.svg', title: 'Уникальный опыт работы с Китаем' },
      { icon: 'img/benefits_5.svg', title: 'Бесплатные консультации и сопровождение сделок на всех этапах' },
    ]

  -
    const tabsHeadItems =[
      { text: 'Аккредитив' },
      { text: 'Инкассо' },
    ]

  -
    const creditUsedList =[
      'cделка заключается с новым, непроверенным партнером',
      'продавец не уверен в платежеспособности покупателя, а покупатель не уверен в способности продавца поставить товар или предоставить услугу',
      'сделка заключается на большую сумму и/или длительный срок',
      'экспортер или импортер нуждается в финансировании',
    ]

  -
    const formObligationsList =[
      '<b>Отзывный (revocable)</b> – может быть отозван аппликантом по аккредитиву без согласия бенефициара. Используется крайне редко.',
      '<b>Безотзывный (irrevocable)</b> – не может быть отозван аппликантом без согласия всех участников аккредитивной сделки.',
      '<b>Подтвержденный (confirmed)</b> – предусматривает добавление другим банком, отличным от банка-эмитента, обязательства осуществить платеж в случае предоставления документов, соответствующих условиям аккредитива.',
    ]

  -
    const wayProvidingList =[
      '<b>Покрытый аккредитив</b> – аккредитив, обеспеченный собственными денежными средствами клиента.',
      '<b>Непокрытый аккредитив</b> – аккредитив, не требующий на момент открытия аккредитива наличия у клиента собственных средств.',
    ]

  -
    const wayExecutionList =[
      'Исполняемые путем «платежа по предъявлению» (by payment)',
      'Исполняемые с рассрочкой платежа (by deffered payment)',
      'Исполняемые акцептом тратт (by acceptance)',
      'Исполняемые путем негоциации (by negotiation)',
    ]

block content
  main
    +breadcrumbs
      +breadcrumbs-item('Главная', '/')
      +breadcrumbs-item('Бизнесу', '#')
      +breadcrumbs-item('Деньги для бизнеса', '#')
      +breadcrumbs-item('Финансирование ВЭД')

    +banner('--m-vertically')
      +banner__item('--financing-fea')
        +banner__wrapper('img/banner_financing_fea.png', true)
          +banner__h1('Финансирование <br class="banner__br-no-mob">ВЭД', '--mob-size-l, --mob-mb-l')
          +banner__subtitle('Выгодные условия торгового финансирования')

    .page-content.page-content--ban-mob
      +section('--mt0, --bg-grey')
        .inner
          +section-head().text-center
            +ui-h2('Преимущества торгового финансирования в АТБ:', 'section-head')
          +benefits(benefitsItems)

      +section
        .inner
          +section-head().text-center
            +ui-h2('Продукты торгового финансирования для бизнеса:', 'section-head')
        +tabs-head(tabsHeadItems, '', '--grey')
        +tabs-main
          +tabs-main__item(true)
            +section('--mt0')
              .inner
                +ui-p1()
                  p
                    b Аккредитив
                    |  – классическая безналичная форма расчетов, является одним из самых надежных инструментов обеспечения сделок по внешнеторговым контрактам, рекомендуется  тем клиентам, которые установили новые партнерские отношения или заключили сделку на крупную сумму и длительный срок.
                  p При расчетах  аккредитивом банк действует как посредник между покупателем и продавцом, в результате чего покупатель получает гарантии поставки и качества товара или услуги, подтвержденные документами, а продавец получает гарантии платежа по сделке, независимо от платежеспособности покупателя и его готовности платить.
                  p
                    b Чаще всего аккредитив используется в расчетах, когда:
                  +ui-ul(creditUsedList)
                +section-box
                  +accordion
                    +accordion-item('Виды аккредитивов и их различие')
                      +section-box
                        +ui-p1()
                          p
                            b По форме обязательств
                          +ui-ul(formObligationsList)
                      +section-box
                        +ui-p1()
                          p
                            b По способу обеспечения
                          +ui-ul(wayProvidingList)
                      +section-box
                        +ui-p1()
                          p
                            b По способу исполнения
                          +ui-ul(wayExecutionList)

          +tabs-main__item()
            +section('--mt0')
              .inner
                +ui-p1
                  p
                    b Документарное инкассо
                    |  — это поручение банку покупателя (инкассирующий банк) выдать определенный комплект документов покупателю против их оплаты или против акцепта переводного векселя.
                  p  Инкассирующий банк действует строго согласно инструкциям, полученным от банка продавца. Любые изменения, а также возврат документов продавцу происходят по запросу продавца. Используется при  достаточной степени доверия торговых партнеров.

      +section
        .inner
          +section-head().text-center
            +ui-h2('Как получить финансирование ВЭД в АТБ?', 'section-head')
          +steps(stepsItems)

      +section()#form-section
        .inner
          .form-container
            +section-head().text-center
              +ui-h2('Оставить заявку', 'section-head')

      +section
        .inner
          +section-head().text-center
            +ui-h2('Документы для скачивания', 'section-head')
          +accordion
            +accordion-item('Документы')
              +documents
            +accordion-item('Тарифы')
              +documents

  +seo('АТБ – банк торгового финансирования ВЭД')
    p Сайт Азиатско-Тихоокеанского Банка – одновременно ресурс для физических лиц и сайт банка торгового финансирования, поскольку обоим направлениям нами уделяется много внимания. Для представителей бизнеса разработан целый комплекс услуг, удобных для ведения внешнеэкономической деятельности и валютных операций.
    p С нашей помощью Вы можете заключать выгодные контракты, развивать свой бизнес в новых направлениях, получать гарантии исполнения сделок. Все операции торгового финансирования проводятся в рамках законодательства.
    p Как банк торгового финансирования мы работаем на рынке более 20 лет. Многолетний опыт обслуживания клиентов в рамках ВЭД позволяет устанавливать конкурентоспособные тарифы, обеспечивать быстрое и качественное проведение сделок. На сайте банка торгового финансирования можно получить основную информацию об услугах и заказать консультацию специалиста.

    +seo-accordion
      +seo-accordion-item('Торговое финансирование во внешней торговле')
        p Операция называется «аккредитив» и предполагает безналичную форму расчета, которая представляет собой надежный инструмент обеспечения сделок. Она актуальна, если Вы устанавливаете новые партнерские отношения или планируете заключение крупного договора – в этом случае Азиатско-Тихоокеанский Банк готов выступить посредником. В результате продавец получит гарантии исполнения платежа, а покупатель – поставки товара или услуги.
        p
          b Когда используют аккредитив :
        ul
          li совершение сделки с новым, непроверенным партнером;
          li покупатель не уверен в своевременности поставки, а продавец сомневается в платежеспособности покупателя;
          li планируется крупная сделка или заключение договора на длительный срок;
          li  импортеру/экспортеру необходимы денежные средства.
        p
          b Виды аккредитивов
        p По форме обязательств:
        ul
          li Отзывной. Используется редко, предполагает отзыв по аккредитиву без получения согласия бенефициара.
          li Безотзывной. Его невозможно отозвать без согласия всех сторон.
          li Подтвержденный. Другой банк может добавить обязательство осуществить платеж.
        p По обеспечению:
        ul
          li Покрытый. Аккредитив обеспечивается денежными средствами клиента.
          li Непокрытый. Актуален, когда у клиента на момент предоставления услуги нет денежных средств.
        p По методу исполнения:
        ul
          li с рассрочкой платежа;
          li платежом по предъявлению;
          li с акцептом трат;
          li путем негоциации.

    +seo-accordion
      +seo-accordion-item('Инкассо')
        p Азиатско-Тихоокеанский Банка – банк торгового финансирования, который среди прочих услуг предлагает своим клиентам документарное инкассо. Это поручение банку покупателя предоставить заявленный пакет документов: счета, страховые, транспортные и иные коммерческие документы.
        p Инкассирующая компания получает инструкции от банка-продавца и действует строго в соответствии с ними. Все изменения и возврат документов проводятся по запросу продавца.

    +seo-accordion
      +seo-accordion-item('Как получить финансирование ВЭД в АТБ?')
        dl
          dt
            b 1.  Согласовать с контрагентом формы расчетов, обеспечение обязательств.
          dd
          dt
            b 2.  Обратиться в банк торгового финансирования, принести проект контракта.
          dd
          dt
            b 3.  Предоставить необходимый пакет документов.
          dd
