extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')
  link(rel='stylesheet' href=fileName + '.min.css')

block scripts
  script(src='../../js/index.js')
  script(src=fileName + '.js')

block variables
  -
    const fileName = 'mobile'
    const pageTitle ='Счет для бизнеса бесплатно и навсегда'

    const tabsSlider = [
      {
        navTitle: 'Удобство',
        text: [
          {
            h3: 'Все в одном приложении',
          },
          {
            list: [
              'Принцип «одного окна» - управление несколькими счетами в разных филиалах и организациях' ,
              'Подтверждение документов по «правилу двух рук» с возможностью установить дополнительную «контролирующую» подпись' ,
            ],
          },
        ],
        images: {
          mod: 'comfortable',
          screen: 'img/about_screen1.png',
          decor: 'img/about_decor1.png',
          anim: [
            {
              src: 'img/about_moneta1-1.png',
              mod: 'moneta1',
            },
            {
              src: 'img/about_moneta1-2.png',
              mod: 'moneta2',
            },
          ],
        },
      },
      {
        navTitle: 'Контроль',
        text: [
          {
            h3: 'Широкий функционал',
          },
          {
            list: [
              'Сервис «Светофор» - удобная проверка контрагентов',
              'Управление корпоративной картой в реальном времени – остаток по счету, блокировка, история заявлений',
              'Выписки и реквизиты счетов',
              'Операции с валютой по выгодным курсам и многое другое',
            ],
          },
        ],
        images: {
          mod: 'control',
          screen: 'img/about_screen2.png',
          decor: 'img/about_decor2.png',
          anim: [
            {
              src: 'img/about_moneta2-1.png',
              mod: 'moneta1',
            },
            {
              src: 'img/about_card.png',
              mod: 'decor-card',
            },
          ],
        },
      },
      {
        navTitle: 'Скорость',
        text: [
          {
            h3: 'Всегда на связи',
          },
          {
            desc: 'Дашборд - важные события для клиента, требующие реакции:',
            list: [
              'новые возвращенные документы' ,
              'ближайшие события из календаря бухгалтера' ,
              'количество документов на подпись' ,
            ],
          }
        ],
        images: {
          mod: 'speed',
          screen: 'img/about_screen3.png',
          decor: 'img/about_decor3.png',
          anim: [
            {
              src: 'img/about_moneta3-1.png',
              mod: 'moneta1',
            },
            {
              src: 'img/about_calendar.png',
              mod: 'calendar',
            },
          ],
        },
      },
    ]

    const picTabs = [
      {
        text: 'Подключение АТБ Бизнес',
        img: 'phone'
      },
      {
        text: 'Безопасность',
        img: 'keyboard'
      },
      {
        text: 'Вопросы и ответы',
        img: 'doc'
      },
    ]

block content
  main
    +banner('--m-vertically')
      +banner__item('--mobile')
        +banner__wrapper('img/banner_mobile_app.png', true)
          +banner__h1('Мобильное приложение АТБ Бизнес', '--mob-size-l, --mob-mb-l')
          +banner__text('Онлайн управление финансами организации')
          +banner__foot
            a.banner__app.banner__app--apple(href='https://apps.apple.com/ru/app/%D0%B0%D1%82%D0%B1-%D0%B1%D0%B8%D0%B7%D0%BD%D0%B5%D1%81/id1481346802' target='_blank')
              img.bvi-not-hide(src='img/banner_apple-app.svg', alt='')
            a.banner__app.banner__app--google(href='https://play.google.com/store/apps/details?id=ru.ftc.faktura.jur.atb' target='_blank')
              img.bvi-not-hide(src='img/banner_google-app.svg', alt='')
            .banner__qr.banner__mob-none
              img.bvi-not-hide(src='img/banner_qr.png', alt='')
    .page-content
      +section('--mt0')
        .inner
          +tabs-slider('Преимущества АТБ Бизнес', tabsSlider, '--mobile')
      +section
        .inner
          +pic-tabs(picTabs)
            +pic-tabs__item(picTabs[0])
              +ui-p1
                p
                  b Для первого входа в АТБ Бизнес необходимо:
                ul.ui-ul
                  li Установить приложение на смартфон
                  li Установить /ввести логин и пароль (как в интернет-банке)
                p
                  b Для доступа через Секретный ключ необходимо:
                ul.ui-ul
                  li Написать заявление о подключении услуги «Мобильное приложение» в системе «Интернет-Банкинг» или в офисе банка
                  li На основании решения банка получить логин и пароль
            +pic-tabs__item(picTabs[1])
              +ui-p1
                p Мы стремимся к созданию безопасного пространства, в котором клиенты не переживают за свои сбережения.
                p Вся работа нового сервиса производится исключительно по защищённым протоколам передачи информации, которая соответствует международным стандартам кибербезопасности.
                p Несмотря на совершенствование систем безопасности необходимо соблюдать простые правила:
                ul.ui-ul
                  li Никому не говорите регистрационные данные для входа в АТБ Бизнес;
                  li Устанавливайте приложение АТБ Бизнес только из официальных источников:
                    =' '
                    a.text-orange(href='https://play.google.com/store/apps/details?id=ru.ftc.faktura.jur.atb', target='_blank') Google Play
                    |  и
                    =' '
                    a.text-orange(href='https://apps.apple.com/ru/app/%D0%B0%D1%82%D0%B1-%D0%B1%D0%B8%D0%B7%D0%BD%D0%B5%D1%81/id1481346802', target='_blank') App Store
                    | ;
                  li Устанавливайте и обновляйте антивирус на мобильном устройстве. Вредоносные программы могут перехватывать данные, вводимые пользователем мобильного устройства. Регулярное обновление антивирусной базы и поддержка антивирусной программы в актуальном состоянии обезопасят от кражи данных.
                p Дополнительно рекомендуем ознакомиться с
                  =' '
                  a.text-orange(href='https://www.atb.su/upload/doc/mobile/Rekomendatsii-Kliyentu-po-bezopasnomu-ispolzovaniyu-sistemy.pdf', target='_blank') Рекомендациями Клиенту по безопасному использованию системы дистанционного банковского обслуживания в «Азиатско-Тихоокеанском Банке» (АО)
                  | .
                p
                  a.text-orange(href='#', target='_blank') Памятка безопасности
            +pic-tabs__item(picTabs[2])
              +accordion
                +accordion-item('Как получить доступ в личный кабинет?')
                  p Сервис автоматически доступен Клиентам Банка, подключенным к Системе «Интернет-Банкинг» со способом доступа с помощью Логина и Пароля. Клиенту достаточно установить Сервис на мобильный телефон и ввести Логин и Пароль, которые используются для доступа в Систему «Интернет-Банкинг».
                  p Если у вас подключена Система «Интернет-Банкинг» со способом доступа с помощью Секретного ключа, то для доступа к Сервису вам необходимо получить в Банке Логин и Пароль. Для получения Логина и Пароля Клиенту необходимо предоставить в Банк Заявление о подключении услуги «Мобильное приложение» (в офис или по системе «Интернет-Банкинг»).
                +accordion-item('Почему личный кабинет заблокирован?')
                  p Причин может быть несколько, но в большинстве случаев это делается ради безопасности ваших средств. Чаще всего доступ блокируется из-за неверно введенных регистрационных данных. Для возможности восстановления доступа клиенту необходимо обратиться в колл-центр Банка по телефону
                    =' '
                    a.text-orange.text-nowrap(href='tel:88007758080') 8-800-775-80-80
                    |  (звонок по России бесплатный), либо в любое отделение.
                +accordion-item('Забыл логин и/или пароль, что делать?')
                  p Восстановить регистрационные данные клиент может самостоятельно. Для этого достаточно открыть приложение АТБ Бизнес и нажать на кнопку «Восстановление доступа». В случае каких-либо проблем клиент может обратиться в колл-центр по телефону
                    =' '
                    a.text-orange.text-nowrap(href='tel:88007758080') 8-800-775-80-80
                    |  (звонок по России бесплатный), либо обратиться в любое отделение.
                +accordion-item('В приложении не отражаются счета, что делать?')
                  p Если возникли проблемы с отображением продуктов и счетов, то просим вас позвонить по телефону
                    =' '
                    a.text-orange.text-nowrap(href='tel:88007758080') 8-800-775-80-80
                    |  (звонок по России бесплатный).
                +accordion-item('Что делать, если не работает приложение?')
                  p Проверьте, пожалуйста, обновления в
                    =' '
                    a.text-orange(href='https://apps.apple.com/ru/app/%D0%B0%D1%82%D0%B1-%D0%B1%D0%B8%D0%B7%D0%BD%D0%B5%D1%81/id1481346802', target='_blank') App Store
                    |  или
                    =' '
                    a.text-orange(href='https://play.google.com/store/apps/details?id=ru.ftc.faktura.jur.atb', target='_blank') Google Play
                    | . При необходимости клиент может обратиться за помощью, позвонив в колл-центр по телефону
                    =' '
                    a.text-orange.text-nowrap(href='tel:88007758080') 8-800-775-80-80
                    |  (звонок по России бесплатный).
      +section
        .inner
          +section-head.text-center
            +ui-h2('Документы для скачивания', 'section-head')
          +accordion
            +accordion-item('Документы')
              +documents
