mixin mining-purchase(mods)
  -
    const baseName = 'mining-purchase'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

    const list = [
      '<b>Банк применяет индивидуальные дисконты</b> при покупке драгоценных металлов от Лондонской Цены или рыночных котировок в зависимости от объемов поставляемого металла и комплексных условий сотрудничества с клиентом.',
      '<b>Дата фиксации цены</b> - дата приемки металла в хранилище или на дату совершения сделки через банковский счет в драгоценных металлах.',
      '<b>Предварительная оплата до 85%</b> от стоимости поставляемых на завод партий драгоценного металла.',
      '<b>Срок окончательной оплаты</b> при покупке золота - 1 (Один) рабочий день с даты окончательной приемки партии слитков или заключения сделки по банковскому счету в драгоценных металлах.',
      '<b>Доставка металла</b> от аффинажного завода до хранилища Банка осуществляется за счет Банка.',
      '<b>Оплата за аффинаж.</b> По согласованию с недропользователем возможна оплата заводу за недропользователя работ по аффинажу и изготовлению слитков с последующей компенсацией затрат Банку.',
      'Кроме золота, <b>Банк готов покупать слитки серебра, платины и палладия</b>. Дисконты при покупке данных металлов будут определяться исходя из ценовой конъюнктуры рынка и объемов драгоценных металлов.',
    ]

  .mining-purchase(class=allMods)&attributes(attributes)
    .mining-purchase__head
      .mining-purchase__title В рамках программы сотрудничества Банк осуществляет покупку драгоценных металлов у недропользователей:
    ul.mining-purchase__list
      each item in list
        li !{item}
    .mining-purchase__notice
      .mining-purchase__top
        span.mining-purchase__top-xl 135
        |  договоров
        .mining-purchase__text
          p купли-продажи золота заключил Банк с&nbsp;российскими золотодобывающими предприятиями в 2020 году.
          p Общий объем поставленного в Банк золота составил
            =' '
            b 12,5 тонн.
      +ui-button('Присоединиться', 'mining-purchase')
    block
