extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')
  link(rel='stylesheet' href=fileName + '.min.css')

block scripts
  script(src='../../js/index.js')
  script(src=fileName + '.js')

block variables
  -const fileName = 'bank-guarantee'
  -const pageTitle ='Банковская гарантия'

  -
    const benefitsItems = [
      { icon: 'img/benefit_1.svg', title: 'Выгодная цена' },
      { icon: 'img/benefit_2.svg', title: 'Быстрое рассмотрение заявок' },
      { icon: 'img/benefit_3.svg', title: 'Гибкие индивидуальные условия' },
      { icon: 'img/benefit_4.svg', title: 'Возможность открытия лимита' },
      { icon: 'img/benefit_5.svg', title: 'Длительные сроки действия банковских гарантий' },
      { icon: 'img/benefit_6.svg', title: 'Любые виды гарантий (от тендерных до таможенных)' },
    ]

block content
  main
    +breadcrumbs
      +breadcrumbs-item('Главная', '/')
      +breadcrumbs-item('Бизнесу', '#')
      +breadcrumbs-item('Деньги для бизнеса', '#')
      +breadcrumbs-item(pageTitle)
    +banner('--m-vertically')
      +banner__item('--bank-guarantee')
        +banner__wrapper('img/banner_bank_guarantee.png', true)
          +banner__h1(pageTitle, '--mob-size-l, --mob-mb-l')
          +banner__subtitle('Обеспечение сделок на&nbsp;гибких и&nbsp;выгодных условиях')
          +banner__foot('--laptop-flex1')
            +ui-button('Получить', 'banner, --m-size-l')(href='#form-section')

    .page-content.page-content--pt0
      +section('--mt0, --bg-grey')
        .inner
          +section-head().text-center
            +ui-h2('Обеспечение банковской гарантии бизнесу')
          +benefits(benefitsItems)

      +section
        .inner
          +section-head()
            +ui-h2('Для чего вам нужна банковская гарантия?', 'section-head').text-center
          +bank-guarantee-need

      +section
        .inner
          +section-head()
            +ui-h2('Подтверждение факта выдачи банковской гарантии', 'section-head').text-center
          +ui-p1()
            p Уважаемые клиенты! Для получения гарантии «Азиатско-Тихоокеанский Банк» (АО) необходимо обращаться непосредственно в подразделения Банка, либо оформить заявку на получение гарантии на сайте Банка.
            p Для письменного подтверждения факта выдачи банковских гарантий «Азиатско-Тихоокеанский Банк» (АО) просим направлять официальный запрос по адресу: 675000, г. Благовещенск, ул. Амурская, 225, либо на адрес электронной почты: atb@atb.su с обязательным вложением бланка выданной банковской гарантии.

      +section()#form-section
        .inner
          .form-container
            +section-head().text-center
              +ui-h2('Оформите заявку на получение гарантии', 'section-head')

  +seo('Обеспечение банковской гарантии малому бизнесу')
    p Получив банковскую гарантию малому бизнесу от Азиатско-Тихоокеанского Банка, Вы расширите свои возможности: сможете участвовать в тендерах, возмещать НДС, предоставлять гарантии выполнения обязательств контрагентам и многое другое.
    p АТБ обеспечивает индивидуальный подход к каждому клиенту, в том числе учитывает особенности Вашего бизнеса. Условия предоставления услуги гибкие, рассмотрение заявки происходит оперативно. Если Вы желаете заучиться поддержкой банка, заполняйте форму онлайн-заявки. Наш специалист свяжется с вами и проконсультирует по всем вопросам.
    p Блок «Доверие»
      br
      | Банковская гарантия АТБ – удобная форма обеспечения Ваших обязательств перед кредитором. Получив гарантию банка, Вы сможете заключать выгодные и крупные сделки. Перечень партнеров и контрагентов расширится, а прибыль увеличится.
    +seo-accordion
      +seo-accordion-item('Подтверждение выдачи банковской гарантии АТБ')
        p Обращаем Ваше внимание, что наша организация не имеет посредников, которые уполномочены совершать выдачу банковских поручительств от имени Азиатско-Тихоокеанского Банка. Оформление услуги проходит только в офисах банка.
        p Чтобы подтвердить выдачу банковской гарантии малому бизнесу Азиатско-Тихоокеанским Банком, направьте запрос в отдел сопровождения кредитов юридических лиц. Адрес: 675000, г. Благовещенск, ул. Амурская, 225. Обращения принимаются и на электронную почту: out_bank_trust@atb.su. В письмо вложите бланк выданного документа. Дополнительные консультации проводятся по телефонам +7(4162) 224–011, 222–315, 224-012.
