extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')
  //- link(rel='stylesheet' href=fileName + '.min.css')

block scripts
  script(src='../../js/index.js')

block variables
  -const fileName = 'ssi'
  -const pageTitle ='Информация по текущей ситуации'

block content
  main
    +banner
      +banner__item('--ssi')
        +banner__wrapper('img/banner_ssi.jpg')
          +banner__h1('Информация по&nbsp;текущей ситуации', '--mob-w-l')

    .page-content
      +section('--mt0')
        .inner
          +section-head
            +ui-h2('Мобилизация и работа АТБ', 'section-head')
      +section('--mt-xs')
        .inner
          +section-head
            +ui-h2('Корпоративный блок', 'section-head')
            +ui-p1('Доп текст')
          +accordion
            +accordion-item('Есть информация, что государство может списать мои накопления на проведение СВО, снимаю деньги.')
              +ui-p1('Эта информация недостоверна. Банк в полном объеме выполняет свои обязательства перед клиентами по договорам вклада и банковского счета. Денежные средства на текущих счетах и вкладах застрахованы в объеме и порядке, предусмотренных <b>Федеральным законом от 23.12.2003 N 177-ФЗ "О страховании вкладов в банках Российской Федерации".</b>', '--light')
            +accordion-item('Вклады заморозят, в связи с ситуацией в стране и я не смогу снять свои деньги. Как срочно снять деньги.')
              +ui-p1('Эта информация недостоверна. Банк в полном объеме выполняет свои обязательства перед клиентами по договорам вклада и банковского счета. Денежные средства на текущих счетах и вкладах застрахованы в объеме и порядке, предусмотренных <b>Федеральным законом от 23.12.2003 N 177-ФЗ "О страховании вкладов в банках Российской Федерации".</b>', '--light')
            +accordion-item('Будет ли обложение налогом по доходам со вкладов? Я планирую оставить только 1 млн.')
              +ui-p1('Доходы, полученные от процентов по вкладам в 2021 и 2022 году освобождены от налога на доходы физических лиц. обязанность платить НДФЛ с процентов по вкладам появится с доходов 2023 года при условии неизменности требований действующего законодательства РФ.', '--light')
            +accordion-item('Есть ли возможность снять часть денег / всю сумму без потери процентов, если вкладчика призвали на службу?')
              +ui-p1('', '--light')
                p В соответствии с частью 5 статьи 837 Гражданского кодекса Российской Федерации в случаях, когда срочный вклад возвращается вкладчику по его требованию до истечения срока либо до наступления иных обстоятельств, указанных в договоре банковского вклада, проценты по вкладу выплачиваются в размере, соответствующем размеру процентов, выплачиваемых банком <u>по вкладам до востребования</u>, если договором банковского вклада не предусмотрен иной размер процентов.
                p Однако, банк может рассмотреть вопрос об изменении порядка выплаты процентов при досрочном расторжении договора банковского на основе заявления клиента. Потребуется заключение дополнительного соглашения к договору банковского вклада об изменении условий выплаты процентов по вкладу при его досрочном расторжении в случае, если удовлетворение заявления клиента будет возможно.
            +accordion-item('Муж не успел составить доверенность (его призвали). Как мне получить сумму (вклад заканчивается через неск. дней/недель/месяц)?')
              +ui-p1('', '--light')
                p В соответствии с частью 2 статьи 837 Гражданского кодекса Российской Федерации &nbsp;по договору вклада любого вида, заключенному с гражданином, банк в любом случае обязан выдать по первому требованию вкладчика сумму вклада или ее часть и соответствующие проценты.
                p Получение вклада третьим лицом возможно на основании доверенности, выданной вкладчиком.
                p При невозможности оформить доверенность в Банке в условиях проведения мобилизационных мероприятий допустимо оформление доверенности, приравненной к нотариальной, на основании пункта 2 части 2 статьи 185.1 Гражданского кодекса Российской Федерации:
                p К нотариально удостоверенным доверенностям приравниваются: доверенности военнослужащих, а в пунктах дислокации воинских частей, соединений, учреждений и военно-учебных заведений, где нет нотариальных контор и других органов, совершающих нотариальные действия, также доверенности работников, членов их семей и членов семей военнослужащих, которые удостоверены командиром (начальником) этих части, соединения, учреждения или заведения.

      +section('--mt-xs')
        .inner
          +section-head
            +ui-h2('Кредит, кредитная карта, автокредит, ипотека', 'section-head')
            +ui-p1('Доп текст')
          +accordion
            +accordion-item('Как оплачивать кредит, если меня мобилизовали?')
              +ui-p1('', '--light')
                p Исполнять  обязательства по кредитному договору вы можете лично с помощью мобильного  приложения или Интернет-банка.
                p Третье лицо может  производить оплату:
                +ui-ul('')
                  li через  терминал самообслуживания (необходимы реквизиты для оплаты: номер счета, ФИО  заемщика);
                  li на  основании доверенности (заверенная нотариально или выданная за подписью  командира воинской части).
                p Ознакомиться  с полным перечнем способов оплаты вы можете по  <a href="#">ссылке</a>.

            +accordion-item('Каким заемщикам предоставляется право на льготный период?')
              +ui-p1('', '--light')
                p Льготный период в соответствии с Федеральным законом N 377-ФЗ предоставляется по договору потребительского кредита, если заемщиком является:
                +ui-ol('')
                  li Лицо (в том числе индивидуальный предприниматель), призванное на военную службу по мобилизации в Вооруженные Силы Российской Федерации и заключившее договор потребительского кредита до дня мобилизации; или
                  li Лицо, принимающее участие в СВО и проходящее военную службу в Вооруженных Силах Российской Федерации по контракту, или находящееся на военной службе в войсках национальной гвардии Российской Федерации, спасательных воинских формированиях федерального органа исполнительной власти, уполномоченного на решение задач в области гражданской обороны, Службе внешней разведки Российской Федерации, органах федеральной службы безопасности, органах государственной охраны, органах военной прокуратуры, военных следственных органах Следственного комитета Российской Федерации, федеральном органе обеспечения мобилизационной подготовки органов государственной власти Российской Федерации, а также создаваемых на военное время специальных формированиях, и заключившее договор потребительского кредита до дня участия в СВО; или
                  li Лицо (в том числе индивидуальный предприниматель), заключившее контракт о добровольном содействии в выполнении задач, возложенных на Вооруженные Силы РФ, и заключившее договор потребительского кредита до дня подписания контракта; или
                  li Член семьи военнослужащего (лица, указанного в п. 1-3 Федерального закона N 377-ФЗ):
                    +ui-ul('', '--child')
                      li Супруга (супруг);
                      li Несовершеннолетний ребенок;
                      li Ребенок старше 18 лет, ставший инвалидом до достижения возраста 18 лет;
                      li Ребенок в возрасте до 23 лет, обучающийся в образовательных организациях по очной форме обучения;
                      li Лицо, находящееся на иждивении у Военнослужащего,
                p заключивший договор потребительского кредита в период до возникновения у военнослужащего, членом семьи которого он является, вышеуказанных в п. 1-3 обстоятельств.

            +accordion-item('Моего родственника мобилизовали. Могу ли я получить отсрочку по своему кредиту?')
              +ui-p1('', '--light')
                p  Да, банк готов предоставить отсрочку платежей по договору потребительского кредита при условии, что вы подходите под определение Заемщика в соответствии с Федеральным законом № 377-ФЗ. Подробная информация предоставлена в ответе на вопрос: «Каким заемщикам предоставляется право на льготный период?»
                p С текстом Федерального закона № 377-ФЗ Вы можете ознакомиться
                  =' '
                  a(href='http://publication.pravo.gov.ru/Document/View/0001202210070001' target='_blank') здесь

            +accordion-item('На какой срок клиент, которого мобилизовали, может рассчитывать на отсрочку платежей по договору потребительского кредита?')
              +ui-p1('Федеральный закон от 07.10.2022 № 377-ФЗ «Об особенностях исполнения обязательств по кредитным договорам (договорам займа) лицами, призванными на военную службу по мобилизации в Вооруженные Силы Российской Федерации, лицами, принимающими участие в специальной военной операции, а также членами их семей и о внесении изменений в отдельные законодательные акты Российской Федерации» предусматривает возможность получения отсрочки на срок мобилизации и/или участия в СВО, увеличенный на 30 дней.', '--light')
            +accordion-item('Если забрали по повестке на мобилизацию Заемщика, что будет с кредитом/ипотекой?')
              +ui-p1('По заключенному кредитному договору заёмщик сохраняет обязательства выплачивать кредит, включая ипотечные кредиты. При обращении в банк условия кредитного договора могут быть пересмотрены в рамках Федерального закона от 07.10.2022 № 377-ФЗ «Об особенностях исполнения обязательств по кредитным договорам (договорам займа) лицами, призванными на военную службу по мобилизации в Вооруженные Силы Российской Федерации, лицами, принимающими участие в специальной военной операции, а также членами их семей и о внесении изменений в отдельные законодательные акты Российской Федерации».', '--light')
            +accordion-item('Как будет предоставляться отсрочка платежей по кредиту, если заемщик не сможет лично оформить заявление?')
              +ui-p1('', '--light')
                p Отсрочку платежей по договору потребительского кредита можно запросить не только при личном обращении в Банк, а любым способом, предусмотренным кредитным договором, в том числе по эл. почте
                  =' '
                  a.text-orange.text-nowrap(href='mailto:ask@atb.ru') ask@atb.ru
                  |  или по телефону
                  =' '
                  a.text-orange.text-nowrap(href='tel:8-800-775-88-88') 8-800-775-88-88
                  | .
            +accordion-item('Будет ли предоставлен льготный период по договорам потребительского кредита, заключенным членом семьи военнослужащего (супруг(-а)/другие члены семьи)?')
              +ui-p1('', '--light')
                p Да, если лицо, заключившее с Банком кредитный договор, подходит под определение «Заемщик» в соответствии с Федеральным законом № 377-ФЗ. Подробная информация предоставлена в ответе на вопрос: «Каким заемщикам предоставляется право на льготный период?»
                p  С текстом Федерального закона № 377-ФЗ вы можете ознакомиться
                  =' '
                  a(href='http://publication.pravo.gov.ru/Document/View/0001202210070001' target='_blank') здесь
            +accordion-item('Влияет ли призывной возраст, нахождение в запасе на возможность получения кредита?')
              +ui-p1('Нет, требования к заёмщикам на данный момент не изменились.', '--light')
            +accordion-item('Что будет с кредитом/ипотекой, если заемщик/созаемщик погибнет или станет нетрудоспособным?')
              +ui-p1('', '--light')
                p Обязательства по кредитному договору продолжают действовать на тех же условиях, которые были до наступления указанных обстоятельств, до тех пор, пока в Банк не будут предоставлены документы, подтверждающие факт наступления гибели (смерти) военнослужащего.
                p Если военнослужащий погиб (умер) при выполнении задач в период проведения специальной военной операции либо позднее указанного периода, но вследствие увечья (ранения, травмы, контузии) или заболевания, полученных при выполнении задач в ходе проведения специальной военной операции, а также в случае признания военнослужащего инвалидом I группы в порядке, установленном законодательством Российской Федерации, обязательства военнослужащего по кредитному договору прекращаются.
                p Причинная связь увечья (ранения, травмы, контузии) или заболевания, приведших к смерти военнослужащего или признанию военнослужащего инвалидом I группы в порядке, установленном законодательством Российской Федерации, с выполнением им задач в ходе проведения специальной военной операции устанавливается военно-врачебными комиссиями и (или) федеральными учреждениями медико-социальной экспертизы.
                p В случае наступления обстоятельств, указанных выше, обязательства членов семьи военнослужащего в отношении заключенных ими кредитных договоров прекращаются.
                p К членам семьи военнослужащего в соответствии с Федеральным законом N 76-ФЗ от 27.05.1998 "О статусе военнослужащих" относятся:
                +ui-ul('')
                  li супруг (супруга);
                  li несовершеннолетние дети;
                  li дети старше 18 лет, ставшие инвалидами до достижения возраста 18 лет;
                  li дети в возрасте до 23 лет, обучающиеся в образовательных организациях по очной форме обучения;
                  li лица, находящиеся на иждивении у Военнослужащего.
                p Член семьи военнослужащего также прикладывает документы, подтверждающие его статус в качестве члена семьи военнослужащего.
            +accordion-item('Выплатит ли страхования компания по программе НС в случае гибели/нетрудоспособности заёмщика?')
              +ui-p1('Выплата может быть проведена страховой компанией в случае наличия в полисе страхования такой категории риска.', '--light')
            +accordion-item('По каким кредитным продуктам предоставляется отсрочка по мобилизации?')
              +ui-p1('', '--light')
                +ui-ul('')
                  li Кредит  наличными;
                  li Кредитная  карта;
                  li Автокредит;
                  li Ипотечное  кредитование.
            +accordion-item('Где оформить отсрочку, если мобилизовали заемщика или члена семьи заемщика?')
              +ui-p1('', '--light')
                p Для оформления отсрочки платежей по договору потребительского кредита в соответствии с Федеральным законом № 377-ФЗ необходимо заполнить 
                  a.text-orange(href='/upload/doc/2022/Требование о предоставлении льготного периода.pdf' target='_blank') Требование о предоставлении льготного периода
                  | .
                p Заполненную копию Требования необходимо направить на официальную почту банка 
                  a.text-orange(href='mailto:ask@atb.su' target='_blank') ask@atb.su
                  | , приложив необходимые подтверждающие документы.

      +section('--mt-xs')
        .inner
          +section-head
            +ui-h2('Работа мобильного и интернет банка', 'section-head')
          +accordion
            +accordion-item('Будет ли работать мобильное приложение АТБ и интернет-банк на территории проведения СВО?')
              +ui-p1('Для ДБО необходимо интернет соединение. При наличии связи доступ к мобильному и интернет банку возможен с территории Российской Федерации. С территорий других государств доступ не гарантирован.', '--light')

      +section('--mt-xs')
        .inner
          +section-head
            +ui-h2('Корпоративный блок', 'section-head')
          +accordion
            +accordion-item('Призван поручитель, учредитель, как действовать?')
              +ui-p1('', '--light')
                p Рекомендуем учредителю/участнику общества выдать доверенность на уполномоченное лицо, которое будет представлять его интересы при взаимодействии с другими участниками общества и третьими лицами, в т.ч. с банком.
                p За исполнение обязательств по кредиту перед банком основным ответственным остаётся заемщик. Призыв поручителя на военную службу не прекращает поручительства.  Для оперативного решения вопросов рекомендуем выдать доверенность на уполномоченное лицо, которое будет представлять интересы поручителя перед банком на период его отсутствия.
                p Сведения о доверенности и поверенном лице необходимо передать в банк.
            +accordion-item('Я - ИП/собственник бизнеса, и мне пришла повестка. Что мне делать с кредитами (включая кредиты «Микро-Лайт») в Банке? Мне будет дана отсрочка или возможность реструктуризации?')
              +ui-p1('В Государственную Думу внесен законопроект, в соответствии с которым заемщику - физическому лицу и ИП, призванному на военную службу, предлагается предоставить право обратиться в банк с требованием о приостановлении исполнения обязательств на период мобилизации. До принятия закона заемщик – ИП вправе обратиться в банк с заявлением о реструктуризации задолженности (кредитные каникулы). К обращению нужно приложить документы, подтверждающие мобилизацию.', '--light')
            +accordion-item('У меня забрали имущество бизнеса (транспорт, бензовозы, суда, пр.), в т.ч. находящееся в залоге в банке. Что делать?')
              +ui-p1('Каждый случай будет рассматриваться индивидуально, исходя из фактических обстоятельств. Для выработки решения необходимо обратиться в банк с имеющимися на руках документами.', '--light')
            +accordion-item('Вопросы по ограничениям по валютам и платежам.')
              +ui-p1('Законодательством РФ введен ряд ограничений на осуществление операций с валютой. На текущий момент не проводятся платежи в Евро, платежи в долларах США проводятся в ограниченный список стран. Платежи в рублях РФ проводятся без ограничений. Проблемы могут возникнуть по вине банка на стороне получателя.', '--light')
            +accordion-item('Остановка SWIFT в России')
              +ui-p1('Система SWIFT в России продолжает работать.', '--light')
            +accordion-item('Заморозка р/с, депозитов')
              +ui-p1('Банк может наложить временное ограничение в соответствии с законодательством РФ – например, на основании акта налогового органа за несвоевременную уплату налогов. По каким-либо новым основаниям Банк «заморозку» не осуществляет.', '--light')
            +accordion-item('Какие меры поддержки предоставляет банк владельцам бизнеса?')
              +ui-p1('', '--light')
                p Для ИП, самозанятых, владельцев и совладельцев бизнеса, которые попали под частичную мобилизацию, будут действовать специальные меры поддержки от банка.
                p Клиенты из сегмента МСБ смогут претендовать на отсрочку по кредитам (включая процентные платежи) и возможность продления сроков сделки. Деньги на счетах в период временной приостановки бизнес-деятельности можно будет разместить на вкладе для дополнительной капитализации средств.
                p Каждое обращение будет рассматриваться индивидуально, меры поддержки будем предлагать как из числа уже действующих в банке, так и находящихся сейчас в разработке.
                p Мы внимательно следим за всеми рекомендациями ЦБ РФ и будем вносить изменения в наши продукты и услуги в соответствии с ними.
                p По всем вопросам вы можете обращаться в наш контакт-центр для персональной консультации.

      +section
        .inner
          +section-head
            +ui-h2('Ответы на часто задаваемые вопросы', 'section-head')

      +section('--mt-xs')
        .inner
          +section-head
            +ui-h2('Счета и вклады', 'section-head')
          +accordion
            +accordion-item('Сколько будут действовать временные правила обращения с валютой?')
              +ui-p1('На текущий момент временные правила ЦБ на операции с наличной валютой на территории России продлены до 9 марта 2023 года.', '--light')
            +accordion-item('У меня есть счёт/ вклад в АТБ в иностранной валюте, что с ним будет?')
              +ui-p1('Ваши деньги сохраняются на счёте без изменений. Если у вас открыт вклад, то проценты по нему начисляются в соответствии с условиями вклада.', '--light')
            +accordion-item('Могу ли я пополнить валютный счет?')
              +ui-p1('Да, но согласно новым правилам вы сможете снять с него в пределах остатка, сформированного на 9 марта 2022 года, но не более 10 тыс. долларов США или эквивалент в евро наличными.', '--light')
            +accordion-item('Как мне, закрывая вклад, получить его в валюте или рублях?')
              +ui-p1('', '--light')
                p Если сумма вклада превышает 300 000 рублей, или вам нужны наличные доллары или евро, то заказать денежные средства можно в чате мобильного приложения
                  =' '
                  a.text-orange(href='/services/mobile/' target='_blank') АТБ Мобайл NEW
                  |  или в
                  =' '
                  a.text-orange(href='/getapp' target='_blank') интернет-банке
                  | . Также есть возможность заказа через чат в
                  =' '
                  a.text-orange(href='https://wa.me/74162222333' target='_blank') WhatsApp
                  | .
                p Возможность заказа наличных через контакт - центр АТБ
                  =' '
                  a.text-orange(href='tel:+78007758080') 8-800-775-88-88
                  |  (звонок по России бесплатный) или в отделении банка также сохраняется. Заказ денежных средств для возврата вклада в рублях осуществляется не ранее, чем за один рабочий день до планируемой даты возврата, в иностранной валюте – не ранее чем за пять рабочих дней до планируемой даты возврата.
            +accordion-item('Что с моими вкладами в рублях?')
              +ui-p1('Все изменения касаются только валютных вкладов и счетов. АТБ работает в штатном режиме, изменений в обслуживании клиентов нет. Банк обладает необходимыми ресурсами для обслуживания всех потребностей своих клиентов.', '--light')
            +accordion-item('Можно ли перевести дивиденды от российских компаний в валюте заграницу?')
              +ui-p1('В связи с введенными Указом Президента РФ № 430 от 05.07.2022 г. мерами ограничительного характера банк не сможет осуществить операции по переводу резидентами РФ иностранной валюты на свои счета (вклады), открытые в расположенных за пределами территории Российской Федерации банках и иных организациях финансового рынка, а также по переводу денежных средств без открытия банковского счета с использованием электронных средств платежа, предоставленных иностранными поставщиками платежных услуг, если такие денежные средства получены в виде дивидендов по акциям российских АО либо при распределении прибыли российских ООО, хозяйственных товариществ и производственных кооперативов.', '--light')
