extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')
  link(rel='stylesheet' href=fileName + '.min.css')

block scripts
  script(src='../../js/index.js')

block variables
  -const fileName = 'salary-project'
  -const pageTitle ='Зарплатный проект'

  -
    const tabsHeadItems = [
      { text: 'Плюсы для вашего бизнеса' },
      { text: 'Как подключить?' },
      { text: 'Процесс подключения и документы' },
    ]

    const benefitsItems = [
      {
        icon: 'img/features-1.svg',
        title: 'Комиссия за перевод заработной платы от 0%',
      },
      {
        icon: 'img/features-2.svg',
        title: 'Бесплатные премиальные карты для ваших сотрудников',
      },
      {
        icon: 'img/features-3.svg',
        title: 'Эксклюзивные условия для бюджетных организаций независимо от ФОТ',
      },
    ]

    const benefitsItems2 = [
      { icon: 'img/step_1.svg', title: 'Заключение договора и подключение Интернет-Банкинга' },
      { icon: 'img/step_2.svg', title: 'Выпуск и выдача карт' },
      { icon: 'img/step_3.svg', title: 'Простое и удобное перечисление заработной платы' },
    ]

    const benefitsItems3 = [
      { icon: 'img/benefits_1.svg', title: 'Персональный менеджер по&nbsp;зарплатному проекту' },
      { icon: 'img/benefits_2.svg', title: 'Использование систем дистанционного банковского обслуживания' },
      { icon: 'img/benefits_3.svg', title: 'Специальные условия по банковским продуктам для ваших сотрудников' },
    ]

block content
  main
    +breadcrumbs
      +breadcrumbs-item('Главная', '/')
      +breadcrumbs-item('Бизнесу', '#')
      +breadcrumbs-item(pageTitle)

    +banner('--m-vertically')
      +banner__item('--salary-project')
        +banner__wrapper('img/banner_salary-project.png', true)
          +banner__h1('Зарплатный <br class="banner__br-no-mob">проект', '--mob-size-l, --mob-mb-l')
          +banner__subtitle('Эксклюзивные условия для&nbsp;компании и&nbsp;сотрудников')
          +banner__foot('--laptop-flex1')
            +ui-button('оставить заявку', 'banner, --m-size-l')(href='#form-section')
    .page-content
      +tabs-head(tabsHeadItems)
      +tabs-main
        +tabs-main__item(true)
          +section('--mt0')
            .inner
              +benefits(benefitsItems, '--title-normal')
        +tabs-main__item
          +section('--mt0')
            .inner
              +benefits(benefitsItems2, '--title-normal')
          +section('--mt-s')
            .inner
              +salary-project-advice
          +section-footnote.text-center
            +ui-button('Оставить заявку')(href='#form-section')
        +tabs-main__item
          +section('--mt0')
            .inner
              +accordion
                +accordion-item('Документы')
                  +documents
                +accordion-item('Полезная информация')
                  +documents
        +section
          .inner
            +section-head.text-center
              +ui-h2('Преимущества:', 'section-head')
            +benefits(benefitsItems3, '--title-normal')
      +section#form-section
        .inner
          .form-container
            +section-head.text-center
              +ui-h2('Заявка на подключение зарплатного проекта', 'section-head')
  +seo('Зарплатный проект для компании')
    p Предлагаем Вам оформить зарплатный проект для компании, чтобы обеспечить удобство перечисления заработной платы сотрудникам и дополнительные преимущества. Мы заключаем договора с владельцами малого, среднего и крупного бизнеса, а также бюджетными учреждениями. Комиссия за перечисление зарплаты в АТБ минимальна и начинается от 0%.
    +seo-accordion
      +seo-accordion-item('Почему подключение зарплатного проекта выгодно для фирмы')
        p Преимущества перечисления регулярных выплат сотрудникам на банковские карты уже успели оценить предприятия различной численности и разных сфер деятельности.
        p Зарплатный проект для фирмы – прежде всего возможность сэкономить:
        p 1. средства, поскольку при этом отпадает необходимость в кассире и некоторых других работниках бухгалтерии. Конечно, если оформить договор с банком, придется заложить в бюджет определенный процент комиссии за обслуживание, но даже с его учетом сумма расходов оказывается гораздо меньшей;
        p 2. время, которое, опять же, – деньги. Для получения средств сотруднику не нужно отлучаться с рабочего места – зачисление происходит автоматически. Учитывая, что в большинстве учреждений выплаты производятся не менее 2 раз в месяц, по итогам года освобождается масса свободного времени, которое можно потратить более эффективно.
        p Подключить зарплатный проект для компании в АТБ – значит:
        ul
          li позаботиться о стабильности поступления средств на карты сотрудников;
          li обеспечить персонал современными платежными инструментами, что, помимо всего прочего, поднимает престиж компании;
          li получить для сотрудников особые условия при обращении к другим продуктам АТБ;
          li пользоваться дистанционным обслуживанием и поддержкой эксперта в любое время и в любой ситуации.
        p Чтобы оформить зарплатный проект для фирмы в АТБ, необходимо подать заявку (в офисе или онлайн – форма представлена на странице) и дождаться ее обработки. После одобрения и предоставления документов происходит заключение договора, подключение интернет-банкинга и выпуск карт. Все процессы в АТБ отлажены, поэтому Вы можете рассчитывать на оперативное оформление документов и начало работы.
