extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')
  link(rel='stylesheet' href=fileName + '.min.css')

block scripts
  script(src='../../js/index.js')
  //- script(src=fileName + '.js')

block variables
  -const fileName = 'loan-revolving-new'
  -const pageTitle ='Оборотный кредит'

  -
    const termsItems =[
      { name: 'Цель кредита', descr: 'Пополнение оборотных средств (оплата контрагентам за&nbsp;товары, работы, услуги, выплата заработной платы в&nbsp;рамках текущих направлений бизнеса, в&nbsp;том числе на&nbsp;цели исполнения внешнеторговых контрактов)', },
      { name: 'Сумма кредита', descr: 'От&nbsp;500&nbsp;000&nbsp;(₽)' },
      { name: 'Валюта кредита',
        descr: `<p>Рубли РФ (₽)</p>
        <p>Юани (¥)</p>`
      },
      { name: 'Срок кредитования',
        descr: `<p>Для кредитов в&nbsp;рублях (₽)&nbsp;&mdash; до&nbsp;36&nbsp;месяцев</p>
          <p>Для кредитов в&nbsp;юанях (&yen;)&nbsp;&mdash; до&nbsp;12&nbsp;месяцев</p>`,
      },
      { name: 'Отсрочка платежа при дифференцированных платежах', descr: 'До 3 месяцев' },
      { name: 'Процентная ставка',
        descr: `<p>От&nbsp;8,35%* годовых (определяется индивидуально)</p>
        <div class="ui-p3 text-grey60">*ставка при&nbsp;сроке кредитования до&nbsp;90&nbsp;дней и&nbsp;сумме кредитования от&nbsp;100&nbsp;млн. руб.</div>`
      },
      { name: 'Комиссия за выдачу', descr: '1% от суммы кредита' },
      { name: 'Форма кредитования',
        descr: `<p>Кредит</p>
          <p>Возобновляемая кредитная линия</p>
          <p>Невозобновляемая кредитная линия</p>`,
      },
    ]

  -
    const howGetItems = [
      {
        icon: 'img/icon_how_get1.svg',
        title: 'Оставьте <a href="#" class="text-orange">заявку</a> или&nbsp;по&nbsp;телефону <span class="text-nowrap">8-800-775-80-80</span>',
      },
      {
        icon: 'img/icon_how_get2.svg',
        title: 'Предоставьте документы и&nbsp;дождитесь решения по&nbsp;заявке',
      },
      {
        icon: 'img/icon_how_get3.svg',
        title: 'Получите кредит <br>для&nbsp;вашего бизнеса',
      },
    ]

  -
    const benefitsItems = [
      { icon: 'img/icon_benefits1.svg', titleModClass: 'benefits__title--normal benefits__title--size-l', title: 'Оптимальные сроки кредитования до&nbsp;3&nbsp;лет' },
      { icon: 'img/icon_benefits2.svg', titleModClass: 'benefits__title--normal benefits__title--size-l', title: 'Валюта кредита: рубли или&nbsp;юани' },
      { icon: 'img/icon_benefits5.svg', titleModClass: 'benefits__title--normal benefits__title--size-l', title: 'Отсрочка по&nbsp;погашению <br> основного долга до&nbsp;3&nbsp;месяцев' },
      { icon: 'img/icon_benefits6.svg', titleModClass: 'benefits__title--normal benefits__title--size-l', title: 'Гибкие условия по&nbsp;обеспечению, <br>товары в&nbsp;обороте подходят для&nbsp;залога' },
    ]

  -
    const tabsHeadItems = [
      { text: 'Условия' },
      { text: 'Обеспечение' },
      { text: 'Документы' }
    ]

  -
    const collateralItems = [
      { mods: 'collateral__item--colspan2',
        title: 'Недвижимое <br>имущество',
        titleTooltip: 'в&nbsp;том числе объекты незавершенного строительства и&nbsp;морские, речные, воздушные суда',
        img: 'img/collateral_img_real_estate.png'
      },
      { mods: 'collateral__item--colspan2',
        title: 'Движимое <br>имущество',
        img: 'img/collateral_img_movables.png'
      },
      { mods: 'collateral__item--colspan2',
        title: 'Ценные бумаги',
        img: 'img/collateral_img_securities.png',
      },
      { mods: 'collateral__item--colspan3',
        title: 'Залог товаров в&nbsp;обороте',
        descr: 'До&nbsp;50% (включительно) от&nbsp;суммарной залоговой стоимости обеспечения, но&nbsp;не&nbsp;более 10&nbsp;млн&nbsp;₽',
        img: 'img/collateral_img_pledge.png',
      },
      { mods: 'collateral__item--colspan3',
        title: 'Поручительства собственников бизнеса и&nbsp;компаний группы',
        img: 'img/collateral_img_guarantees.png',
      },
    ]

  -
    const requirementsItems = [
      {
        icon: 'img/icon_document.svg',
        text: 'Анкета-заявление, согласие',
      },
      {
        icon: 'img/icon_document.svg',
        text: 'Паспорта участников сделки',
      },
      {
        icon: 'img/icon_document.svg',
        text: 'Официальная отчётность',
      },
      {
        icon: 'img/icon_document.svg',
        text: 'Карточка сч.&nbsp;51&nbsp;и&nbsp;анализ субконто-контрагенты из&nbsp;1С&nbsp;или выписка из&nbsp;Интернет-Банка по&nbsp;всем расчетным/валютным счетам за&nbsp;полный закрытый год и&nbsp;прошедшие месяцы текущего года',
      },
      {
        icon: 'img/icon_document.svg',
        text: 'Перечень имущества, предлагаемое в&nbspкачестве залога',
      }
    ]

block content
  main
    +banner('--m-vertically')
      +banner__item('--loan-revolving-new')
        +banner__wrapper('img/banner_loan_revolving.png', true)
          +banner__h1('Пополнение оборотных средств', '--mob-size-l, --mob-mb-l')
          +banner__text('На осуществление текущих расходов')
          +banner__foot('--laptop-flex1')
            +ui-button('оставить заявку', 'banner, --m-size-l')(href='#')

    .page-content
      +section('--mt0')
        .inner
          +benefits(benefitsItems, '--items2-default, --icon-l')

      +section
        .inner
          +tabs-head(tabsHeadItems, true, '--fw-light, --orange, --no-item-border')(data-tabs-group='main-tabs')
        +tabs-main(data-tabs-group='main-tabs')
          +tabs-main__item(true)
            +section('--mt0')
              .inner
                +terms(termsItems, '--mob-1col-xl')
          +tabs-main__item
            +section('--mt0')
              .inner
                +collateral(collateralItems)
          +tabs-main__item
            +section('--mt0')
              .inner
                +requirements(requirementsItems)
                +section-footnote('Банк оставляет за&nbsp;собой право запросить дополнительные документы, которые могут способствовать принятию решения о&nbsp;предоставлении кредита.')

      +section('--bg-grey')
        .inner
          +how-get('Как получить кредит', howGetItems)

      +section()#form-section
        .inner
          +section-head().text-center
            +ui-h2('Заявка на&nbsp;получение кредита', 'section-head')
