extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')
  link(rel='stylesheet' href=fileName + '.min.css')

block scripts
  script(src='../../js/index.js')
  //- script(src=fileName + '.js')

block variables
  -
    const fileName = 'cards'
    const pageTitle ='Бизнес-карта к расчётному счёту'

    const tabsHeadItems = [
      { text: 'Бизнес-карты' },
      { text: 'Сравнение карт' },
      { text: 'Преимущества' },
      { text: 'Кэшбэк' },
      { text: 'Вопросы и ответы' },
      { text: 'Документы и тарифы' },
    ]

    const benefitsItems = [
      { icon: 'img/benefit_1.svg', descr: 'Пополнение карточного счета без&nbsp;необходимости посещать офис Банка' },
      { icon: 'img/benefit_2.svg', descr: 'Оплата любых товаров и&nbsp;услуг и&nbsp;получение наличных денег 24&nbsp;часа в&nbsp;сутки 7&nbsp;дней в&nbsp;неделю' },
      { icon: 'img/benefit_3.svg', descr: 'Выпуск к&nbsp;одному банковскому счету неограниченного количества карт для&nbsp;разных сотрудников' },
      { icon: 'img/benefit_4.svg', descr: 'Индивидуальные лимиты расходования денежных средств для&nbsp;каждого сотрудника' },
      { icon: 'img/benefit_5.svg', descr: 'Учет и&nbsp;контроль командировочных и&nbsp;представительских расходов' },
      { icon: 'img/benefit_6.svg', descr: 'Снижение трудовых и&nbsp;временных издержек, связанных с&nbsp;выдачей подотчетных сумм' },
    ]

    const benefitsItemsCashback = [
      {
        icon: 'img/features-1.svg',
        title: 'Вы&nbsp;можете подключить кэшбэк 1% на&nbsp;бизнес-расходы',
      },
      {
        icon: 'img/features-2.svg',
        title: 'Подключение карты к&nbsp;кэшбэку бесплатное',
      },
      {
        icon: 'img/features-3.svg',
        title: 'Вы&nbsp;можете вернуть за&nbsp;покупки до&nbsp;15&nbsp;000&nbsp;₽/мес',
      },
      {
        icon: 'img/features-4.svg',
        title: 'Минимальная сумма транзакций не&nbsp;менее 10&nbsp;000&nbsp;₽/мес',
      },
    ]

    const howGetItems = [
      { icon: 'img/icon_how_get_1.svg', title: 'Оставьте заявку <br>в&nbsp;форме ниже' },
      { icon: 'img/icon_how_get_2.svg', title: 'Предоставьте <a class="text-orange" href="#">документы</a> для&nbsp;открытия расчетного счета' },
      { icon: 'img/icon_how_get_3.svg', title: 'Получите вашу <br>бизнес-карту' },
    ]

    const cardsDiscounts = [
      {
        img: 'img/cards-offers_1.png',
        imgMod: 'small',
        title: 'Доступ в&nbsp;бизнес-залы аэропортов',
        desc: 'Бесплатное посещение бизнес-залов по программе Lounge Key с премиальными картами Visa Platinum.',
        link: {
          txt: 'подробнее',
          href: '#',
        },
      },
      {
        img: 'img/cards-offers_2.jpg',
        title: 'Страхование и помощь',
        desc: 'Страхование для&nbsp;путешествующих &mdash;это расширенная программа страхования для&nbsp;держателя карты на&nbsp;первые 90&nbsp;дней всех поездок за&nbsp;рубежом. для&nbsp;держателей премиальных карт функционирует онлайн-портал, где можно получить информацию о&nbsp;доступных страховых программах, а&nbsp;также заполнить и&nbsp;распечатать страховой сертификат.',
        link: {
          txt: 'подробнее',
          href: '#',
        },
      },
      {
        img: 'img/cards-offers_3.jpg',
        title: 'Скидка на&nbsp;аренду автомобилей',
        desc: 'Rentalcars&mdash;крупнейший агрегатор предложений по&nbsp;аренде автомобилей от&nbsp;известных мировых компаний. Держатели карт получают дополнительную скидку&nbsp;10% ко&nbsp;всем действующим предложениям при бронировании автомобиля.',
        link: {
          txt: 'подробнее',
          href: '#',
        },
      },
      {
        img: 'img/cards-offers_4.jpg',
        title: 'Эвотор.Маркет',
        desc: 'Увеличивайте средний чек с&nbsp;помощью передовых приложений и&nbsp;сервисов. Эвотор автоматизирует процессы, вы&nbsp;получаете&nbsp;25% бонусных баллов на&nbsp;счёт.',
        link: {
          txt: 'подробнее',
          href: '#',
        },
      },
      {
        img: 'img/cards-offers_5.jpg',
        title: 'Gett - такси бизнес-класса',
        desc: 'Оплачивайте поездки бизнес-картой АТБ и&nbsp;пользуйтесь скидкой до&nbsp;20% на&nbsp;поездки в&nbsp;бизнес-классе и&nbsp;выше по&nbsp;городу и&nbsp;в/из аэропорта во&nbsp;всех городах присутствия Gett.',
        link: {
          txt: 'подробнее',
          href: '#',
        },
      },
      {
        img: 'img/cards-offers_6.jpg',
        imgMod: 'small',
        icon: 'img/cards-offers_logo-vk.png',
        title: 'скидка 15%',
        desc: 'на&nbsp;таргетированную рекламу ВКонтакте',
        link: {
          txt: 'подробнее',
          href: '#',
        },
      },
      {
        img: 'img/cards-offers_7.jpg',
        imgMod: 'small',
        icon: 'img/cards-offers_logo-contur.png',
        title: '6 месяцев',
        desc: 'бесплатно',
        link: {
          txt: 'подробнее',
          href: '#',
        },
      },
      {
        img: 'img/cards-offers_8.jpg',
        title: 'Gett – сервис доставки',
        desc: 'C&nbsp;картой АТБ вашей компании предоставляется скидка&nbsp;15% в&nbsp;сервисе Gett Delivery.',
        link: {
          txt: 'подробнее',
          href: '#',
        },
      },
    ]

    const productsData =[
      {
        img: 'img/products_card_mir.png',
        title: 'Бизнес-карта Мир',
        p2: 'Дебетовая бизнес-карта. Действует на&nbsp;территории России и&nbsp;за&nbsp;границей',
        p2Tooltip: '<p>ПС&nbsp;Мир работает в&nbsp;следующих странах:</p><ul class="ui-ul ui-ul--li-mb10"><li>Армения</li> <li>Беларусь</li> <li>Вьетнам</li> <li>Казахстан</li> <li>Кыргызстан</li> <li>Таджикистан</li> <li>Турция</li> <li>Узбекистан</li></ul>',
        features: [
          {
            name: 'Годовое обслуживание',
            txt: 'Бесплатно',
            descr: 'первый год',
          },
          {
            name: 'Снятие наличных',
            txt: 'до 300 000 ₽',
            txtTooltip: 'До&nbsp;3&nbsp;млн ₽&nbsp;в&nbsp;месяц <br><br> Комиссия: <br> от&nbsp;1,8% <br> минимум 150 рублей',
            descr: 'в день',
          },
          {
            name: 'Выпуск',
            txt: '5 минут / 10 дней',
          },
        ],
        btn: {
          href: '#',
          txt: 'Получить',
        },
        link: {
          href: '#',
          txt: 'Подробнее',
        },
      },
      {
        img: 'img/products_card_union-pay.png',
        title: 'Бизнес-карта UnionPay',
        p2: 'Дебетовая бизнес-карта. Действует в&nbsp;181 стране мира',
        p2Tooltip: 'На&nbsp;банкомате должен быть значок UnionPay.',
        features: [
          {
            name: 'Годовое обслуживание',
            txt: '4&nbsp;000&nbsp;₽',
            descr: 'в год',
          },
          {
            name: 'Снятие наличных',
            txt: 'до&nbsp;500&nbsp;000&nbsp;₽',
            txtTooltip: 'До&nbsp;3&nbsp;млн ₽&nbsp;в&nbsp;месяц <br><br> Комиссия: <br> от&nbsp;1,8% <br> минимум 150 рублей',
            descr: 'в день',
          },
          {
            name: 'Выпуск',
            txt: 'до&nbsp;10&nbsp;дней',
            descr: 'за&nbsp;0&nbsp;рублей',
          },
        ],
        btn: {
          href: '#',
          txt: 'Получить',
        },
        link: {
          href: '#',
          txt: 'Подробнее',
        },
      },
      {
        img: 'img/products_card_visa_gold.png',
        title: 'Бизнес-карта Visa Gold',
        p2: 'Дебетовая бизнес-карта. Действует только на&nbsp;территории России',
        features: [
          {
            name: 'Годовое обслуживание',
            txt: 'Бесплатно',
            descr: 'первый год',
          },
          {
            name: 'Снятие наличных',
            txt: 'до 300 000 ₽',
            txtTooltip: 'До&nbsp;3&nbsp;млн ₽&nbsp;в&nbsp;месяц <br><br> Комиссия: <br> от&nbsp;1,8% <br> минимум 150 рублей',
            descr: 'в день',
          },
          {
            name: 'Выпуск',
            txt: '5 минут',
          },
        ],
        btn: {
          href: '#',
          txt: 'Получить',
        },
        link: {
          href: '#',
          txt: 'Тарифы и условия',
        },
      },
      {
        img: 'img/products_card_visa_platinum.png',
        title: 'Бизнес-карта Visa Platinum',
        p2: 'Дебетовая бизнес-карта с&nbsp;повышенными лимитами на&nbsp;снятие наличных. <br> Действует только на&nbsp;территории России',
        features: [
          {
            name: 'Годовое обслуживание',
            txt: '4 000 ₽',
          },
          {
            name: 'Снятие наличных',
            txt: 'до 500 000 ₽',
            txtTooltip: 'До&nbsp;5&nbsp;млн ₽&nbsp;в&nbsp;месяц <br><br> Комиссия: <br> от&nbsp;1,6% <br> минимум 150 рублей',
            descr: 'в день',
          },
          {
            name: 'Выпуск',
            txt: 'до 10 дней',
          },
        ],
        btn: {
          href: '#',
          txt: 'Получить',
        },
        link: {
          href: '#',
          txt: 'Тарифы и условия',
        },
      },
    ]

block content
  main
    +banner('--m-vertically')
      +banner__item('--v-inner-pt-xxl, --cards')
        +banner__wrapper('img/banner_cards.png', true)
          +banner__h1('Бизнес-карта с&nbsp;кэшбэком', '--mob-size-l, --mob-mb-l')
          +banner__foot
            +ui-button('Оставить заявку', 'banner, --m-size-l')(href='#form-section')

    .page-content
      +section('--mt0')
        .inner
          +tabs-head(tabsHeadItems, true, '--fw-light, --orange, --no-item-border')(data-tabs-group='about-cards')
        +tabs-main(data-tabs-group='about-cards')
          +tabs-main__item(true)
            +section('--mt0')
              .inner
                +products(productsData)
          +tabs-main__item.js-auto-height-table
            +section('--mt0, --bg-grey')
              .inner
                +cards-table
          +tabs-main__item
            +section('--mt0')
              .inner
                +section-head('--max-w900')
                  +ui-h2('Преимущества карты', 'section-head')
                  +ui-p1('Откройте мир возможностей с&nbsp;бизнес-картой АТБ. Получите круглосуточный доступ к&nbsp;расчётному счёту. <br> Совершайте платежи, снимайте наличные, сокращайте операционные расходы и&nbsp;время на&nbsp;отчёты.')
                +benefits(benefitsItems)
          +tabs-main__item
            +section('--mt0')
              .inner
                +section-head('--max-w900')
                  +ui-h2('Как работает кэшбэк', 'section-head')
                  +ui-p1('Получил карту и ...')
                +cards-cashback
                +section('--mt-s')
                  +benefits(benefitsItemsCashback, '--column-mob-row, --icon-l, --title-normal')
                +section('--mt-s')
                  +accordion
                    +accordion-item('Кэшбэк начисляется')
                      +ui-p1('', '--light')
                        p &mdash;&nbsp;на&nbsp;все совершенные безналичные операции в&nbsp;ТСП и&nbsp;сети Интернет (оплата товаров, работ, услуг) в&nbsp;месяц, кроме исключений
                    +accordion-item('Кэшбэк не&nbsp;начисляется за')
                      +ui-p1('', '--light')
                        p &mdash;&nbsp;снятие/внесение наличных через банкоматы/платежные терминалы; <br>&mdash;&nbsp;любые пополнения Карты; <br>&mdash;&nbsp;получение денежных средств через банкоматы, терминалы, кассовые узлы и&nbsp;т.п.; <br>&mdash;&nbsp;перевод денежных средств c&nbsp;Карты (в&nbsp;том числе, по&nbsp;банковским переводам, переводам по&nbsp;реквизитам карты другого банка и&nbsp;т.п.); <br>&mdash;&nbsp;платежи и&nbsp;переводы по&nbsp;пополнению любых виртуальных и/или электронных кошельков или иных электронных денежных средств; &mdash;&nbsp;операции с&nbsp;МСС, 4829, 6012, 6050, 6529, 6530, 6531, 6532, 6533, 6534, 6536, 6537, 6538, 6051, 6540, 7372, 7399, 7995, 8999, 6010, 6011, 7311, 7299, 6211, 4900, 4812, 4813, 4814, 4815, 4816, 6300, 6513, 6535, 7800, 7801, 7802, 9754, 5933, 4899, 5999, 9222, 9211, 9223, 7276, 9311, 9399, 5094, 4821, 5960, 7321, 7372, 9402.
          +tabs-main__item
            +section('--mt0')
              .inner
                +section-head
                  +ui-h2('Вопросы и ответы', 'section-head')
                +tabs-head([ { text: 'О карте' }, { text: 'Уплата налогов' } ], true, '--simple')
                +tabs-main
                  +tabs-main__item(true)
                    +accordion
                      +accordion-item('Кто может оформить Бизнес карту АТБ?')
                        +ui-p1('', '--light')
                          | Бизнес-карту можно оформить на&nbsp;любого сотрудника Клиента, путем личного обращения Клиента в&nbsp;Банк, либо если Клиент уже обслуживается в&nbsp;АТБ, то&nbsp;заказать бизнес карту в&nbsp;Системе Интернет-банкинг или
                          =' '
                          a.text-orange(href='https://my.atb.su/getapp', target='_blank') Мобильном приложении
                      +accordion-item('Как активировать карту и&nbsp;начать ею&nbsp;пользоваться?')
                        +ui-p1('', '--light')
                          | При получении бизнес карты в&nbsp;кассе установите пин-код, после чего ваша карта будет активна.
                      +accordion-item('Что можно оплачивать Бизнес картой?')
                        +ui-p1('', '--light')
                          | Любые товары и&nbsp;услуги в&nbsp;интернете и&nbsp;в&nbsp;торгово-сервисных предприятиях по&nbsp;всему миру. По&nbsp;каждой карте есть возможность установить индивидуальные лимиты на&nbsp;снятие наличных и&nbsp;безналичную оплату.
                      +accordion-item('Как перевыпустить или&nbsp;заказать вторую и&nbsp;последующие карты?')
                        +ui-p1('', '--light')
                          | Перевыпустить или заказать вторую и&nbsp;последующие карты можно в&nbsp;системе Интернет-банкинг или
                          =' '
                          a.text-orange(href='https://my.atb.su/getapp', target='_blank') Мобильном приложении
                          | , путем личного обращения в&nbsp;Банк. Вы&nbsp;можете выпустить неограниченное количество карт к&nbsp;одному ККС.
                      +accordion-item('В&nbsp;чём удобство использования бизнес-карты для&nbsp;бухгалтерии и&nbsp;какими документами подтверждаются операции по&nbsp;карте?')
                        +ui-p1('', '--light')
                          | С&nbsp;помощью карт осуществляется оплата представительских, хозяйственных, а&nbsp;также расходов на&nbsp;основную деятельность компании, выдача наличных. Подтверждением проведения операций и&nbsp;документом для&nbsp;первичной отчётности бухгалтерии является чек.
                      +accordion-item('Как получить информацию об&nbsp;операциях по&nbsp;картам?')
                        +ui-p1('', '--light')
                          | О&nbsp;последних 10&nbsp;операциях и&nbsp;доступном остатке по&nbsp;карте вы&nbsp;можете узнать в&nbsp;банкоматах банка, историю операций можно увидеть в&nbsp;выписке, сформированной в&nbsp;системе Интернет-банкинг.
                      +accordion-item('Можно ли оплачивать покупки в&nbsp;интернете бизнес-картой?')
                        +ui-p1('', '--light')
                          | Да, можно. Для&nbsp;оплаты в&nbsp;интернете понадобится номер карты, срок её&nbsp;действия, код безопасности (CVV2/CVC2)&nbsp;&mdash; три цифры на&nbsp;полосе для&nbsp;подписи на&nbsp;оборотной стороне карты.
                      +accordion-item('Можно ли использовать бизнес-карту за&nbsp;рубежом?')
                        +ui-p1('', '--light')
                          | Да, сотрудники компании могут использовать бизнес-карту в&nbsp;зарубежных поездках для&nbsp;оплаты товаров и&nbsp;услуг либо для&nbsp;снятия наличных.
                      +accordion-item('Сколько карт можно выпустить к&nbsp;одному ККС?')
                        +ui-p1('', '--light')
                          | Можно выпустить любое количество бизнес-карт, ограничений нет.
                      +accordion-item('Существуют ли ограничения по&nbsp;выдаче наличных с&nbsp;бизнес-карты?')
                        +ui-p1('', '--light')
                          | Держатель бизнес-карты может получать наличные с&nbsp;ККС в&nbsp;пределах установленного лимита, но&nbsp;не&nbsp;более 499&nbsp;999 рублей в&nbsp;сутки и&nbsp;не&nbsp;более 5&nbsp;000&nbsp;000 рублей в&nbsp;течение календарного месяца.
                  +tabs-main__item
                    +accordion
                      +accordion-item('Уплата налогов, связанных с&nbsp;получением денежных призов')
                        +ui-p1('Компании несут самостоятельно обязанности по&nbsp;исчислению и&nbsp;уплате налогов, связанных с&nbsp;получением кэшбэка, а&nbsp;также ответственность за&nbsp;неисполнение этой обязанности. В&nbsp;период ближайшей налоговой отчетности компании необходимо включить полученную сумму кэшбэка в&nbsp;состав своих доходов и&nbsp;уплатить налог в&nbsp;соответствии с&nbsp;установленным режимом налогообложения своей компании.', '--light')
                      +accordion-item('У вас ЕНВД/Патент')
                        +ui-p1('Сумма налога не&nbsp;связана с&nbsp;размером полученного дохода. Полученный кэшбэк не&nbsp;требует учета. (Дополнительно проконсультируйтесь со&nbsp;своей Налоговой службой).', '--light')
                      +accordion-item('У вас УСН/ОСНО')
                        +ui-p1('', '--light')
                          p Отразите доход в&nbsp;текущем периоде как&nbsp;Прочие доходы:
                          p ФАКТ Получение денежных средств на&nbsp;бизнес-карту
                            br
                            | ПРОВОДКА Дт&nbsp;сч.&nbsp;55&nbsp;ССБ Кт&nbsp;сч.&nbsp;91&nbsp;&laquo;Прочие доходы&raquo; в&nbsp;момент получения денег
                          p ФАКТ Получение товаров, работ, услуг на&nbsp;сумму «накопленных баллов»
                            br
                            | ПРОВОДКА Дт&nbsp;сч. 10/20/25/97&nbsp;Кт сч.&nbsp;91&nbsp;&laquo;Прочие доходы&raquo; в&nbsp;момент получения товаров, работ, услуг в&nbsp;счет &laquo;накопленных баллов&raquo;.
          //- +tabs-main__item
            +section('--mt0')
              .inner
                +section-head('--max-w')
                  +ui-h2('Специальные предложения для&nbsp;вашего бизнеса от Visa', 'section-head')
                  +ui-p1('Мы собрали пакет предложений для&nbsp;держателей бизнес-карт Visa, которые помогут Вам сделать сотрудничество с Банком еще более выгодным.')
                +cards-offers(cardsDiscounts)
          +tabs-main__item
            +section('--mt0')
              .inner
                +accordion
                  +accordion-item('Документы и тарифы')
                    +documents
                    +tabs-head([ { text: 'Заявления' }, { text: 'Тарифы' } ], true, 'accordion-item')
                    +tabs-main
                      +tabs-main__item(true)
                        +documents
                      +tabs-main__item
                        +documents

      +section
        .inner
          +how-get('Как получить карту', howGetItems)

      +section('--cards-open-acc')
        .inner
          +cards-open-acc
