extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')
  link(rel='stylesheet' href=fileName + '.min.css')

block scripts
  script(src='../../js/index.js')
  script(src=fileName + '.js')

block variables
  -
    const fileName = 'cards'
    const pageTitle ='Бизнес-карта Мир'

    const benefitsItemsMain = [
      {
        icon: 'img/mir-benefits-3.svg',
        title: 'Готовность карты от&nbsp;5&nbsp;минут при&nbsp;открытии счета',
        titleTooltip: `Моментальные карты Мир Momentum и&nbsp;Visa Momentum от&nbsp;5&nbsp;минут <br><br> Остальные до&nbsp;10&nbsp;дней`,
      },
      {
        icon: 'img/mir-benefits-1.svg',
        title: 'Кэшбэк до&nbsp;15&nbsp;000&nbsp;₽ в&nbsp;месяц на&nbsp;все покупки',
        titleTooltip: `1% со всех операции, кроме:
          <a class="text-orange"
            onclick="window.openTabByLink('tab-cashback');
              setTimeout(() => {window.openAccordion('#accordion-cashback-exceptions')}, 10);
              return false;"
            href="#">операций исключений
          </a>`,
      },
      {
        icon: 'img/mir-benefits-2.svg',
        title: 'Выпуск и&nbsp;первый год обслуживания бесплатно',
      },
      {
        icon: 'img/mir-benefits-4.svg',
        title: 'Привязана <br>к&nbsp;расчетному счету',
        titleTooltip: 'За исключением моментальных карт'
      },
      {
        icon: 'img/mir-benefits-5.svg',
        title: 'Карты и&nbsp;индивидуальные лимиты для&nbsp;сотрудников с&nbsp;привязкой к&nbsp;одному счету',
      },
      {
        icon: 'img/mir-benefits-6.svg',
        title: '<b class="text-orange">Платежный стикер</b> Оплачивайте бизнес-покупки в&nbsp;одно касание',
      },
    ]

    const tabsHeadSticker = [
      { text: 'О стикере' },
      { text: 'Инструкция' },
      { text: 'Вопросы и ответы' },
    ]

    const instruction = {
      img: [
        { src: 'instruction_1' },
        { src: 'instruction_2' },
        { src: 'instruction_3' },
      ],
      steps: [
        {
          title: 'Оставьте заявку на&nbsp;выпуск стикера <a class="text-orange" href="#form-section">онлайн</a> или&nbsp;<a class="text-orange" href="/atms/" target="_blank">в&nbsp;любом отделении АТБ</a>',
          p2: 'Оформить стикер можно только к&nbsp;бизнес-карте Мир.',
        },
        {
          title: 'Приклейте стикер на&nbsp;смартфон или на&nbsp;чехол:',
          p2: `
            <ul class="ui-ul ui-ul--li-mb5 ui-ul--fz-inherit">
              <li>Протрите и&nbsp;высушите поверхность</li>
              <li>Отломите стикер от&nbsp;пластиковой основы</li>
              <li>Снимите защитную пленку и&nbsp;приклейте стикер на&nbsp;устройство в&nbsp;области камеры или в&nbsp;нижней части.
                <div class="ui-p4 ui-p4--light text-grey90">Не&nbsp;рекомендуем клеить чип по&nbsp;центру устройства, т.к. там как правило находится область бесконтактной зарядки.</div>
              </li>
            </ul>
            <p>Реквизиты карты останутся на&nbsp;пластиковой основе, сохраните их&nbsp;для&nbsp;оплаты покупок в&nbsp;интернет-магазинах.</p>
          `,
        },
        {
          title: 'Для&nbsp;оплаты покупки в&nbsp;магазине приложите стикер к&nbsp;терминалу вместо карты'
        },
      ],
      button: 'Скачать инструкцию'
    }

    const tabsHeadItems = [
      { text: 'О карте' },
      { text: 'Сравнение карт' },
      //- { text: 'Преимущества' },
      { text: 'Кэшбэк', dataTab: 'tab-cashback' },
      { text: 'Вопросы и ответы' },
    ]

    const cardTermsData = {
      img: 'img/cards-terms.png',
      terms: [
        {
          name: 'Платежная система',
          descr: 'Мир'
        },
        {
          name: 'Годовое обслуживание',
          descr: '0&nbsp;₽ первый',
          descrNowrap: 'год',
          descrTooltip: 'При условии подключения пакета РКО'
        },
        {
          name: 'Выпуск платежного стикера',
          descr: '700 ₽'
        },
        {
          name: 'Дополнительные карты',
          descr: '<span class="terms__td-xl">∞</span>'
        },
        {
          name: 'Кэшбэк',
          descr: '1% <br> максимум 15&nbsp;000&nbsp;₽'
        },
        {
          name: 'Комиссия за&nbsp;снятие наличных',
          descr: 'от&nbsp;1,8% <br> минимум 150&nbsp;₽'
        },
        {
          name: 'Оформление и&nbsp;получение карты',
          descr: '5&nbsp;минут (Мир Momentum) <br> до&nbsp;10&nbsp;дней (Мир)'
        },
        {
          name: 'Внесение наличных в&nbsp;банкоматах и&nbsp;ПВН&nbspБанка',
          descr: '0,3% <br> минимум 100&nbsp;₽'
        },
      ],
    }

    const benefitsItems = [
      { icon: 'img/benefit_1.svg', descr: 'Пополнение карточного счета без необходимости посещать офис Банка' },
      { icon: 'img/benefit_2.svg', descr: 'Оплата любых товаров и&nbsp;услуг и&nbsp;получение наличных денег 24&nbsp;часа в&nbsp;сутки 7&nbsp;дней в&nbsp;неделю' },
      { icon: 'img/benefit_3.svg', descr: 'Выпуск к&nbsp;одному банковскому счету неограниченного количества карт для&nbsp;разных сотрудников' },
      { icon: 'img/benefit_4.svg', descr: 'Индивидуальные лимиты расходования денежных средств для&nbsp;каждого сотрудника' },
      { icon: 'img/benefit_5.svg', descr: 'Учет и&nbsp;контроль командировочных и&nbsp;представительских расходов' },
      { icon: 'img/benefit_6.svg', descr: 'Снижение трудовых и&nbsp;временных издержек, связанных с&nbsp;выдачей подотчетных сумм' },
    ]

    const benefitsItemsCashback = [
      {
        icon: 'img/features-1.svg',
        title: 'Вы&nbsp;можете подключить кэшбэк 1% на&nbsp;бизнес-расходы',
      },
      {
        icon: 'img/features-2.svg',
        title: 'Подключение карты к&nbsp;кэшбэку бесплатное',
      },
      {
        icon: 'img/features-3.svg',
        title: 'Вы&nbsp;можете вернуть за&nbsp;покупки до&nbsp;15&nbsp;000&nbsp;₽/мес',
      },
      {
        icon: 'img/features-4.svg',
        title: 'Минимальная сумма транзакций не&nbsp;менее 10&nbsp;000&nbsp;₽/мес',
      },
    ]

    const howGetItems = [
      { icon: 'img/icon_how_get_1.svg', title: 'Оставьте заявку <br>в&nbsp;форме ниже' },
      { icon: 'img/icon_how_get_2.svg', title: 'Предоставьте <a class="text-orange" href="#">документы</a> для&nbsp;открытия расчетного счета' },
      { icon: 'img/icon_how_get_3.svg', title: 'Получите вашу <br>бизнес-карту' },
    ]

block content
  main
    +banner('--m-vertically')
      +banner__item('--v-inner-pt-xxl, --card-mir')
        +banner__wrapper('img/banner_card-mir.png', true)
          +banner__h1('Бизнес-карта <br class="banner__br-no-mob">Мир', '--mob-size-l, --mob-mb-l')
          +banner__foot('--buttons')
            +ui-button('Оформить в офисе', 'banner, --m-size-l')(href='#')
            +ui-button('Выпустить онлайн', 'banner, --m-size-l')(href='#form-section')
    .page-content
      +section('--mt0')
        .inner
          +benefits(benefitsItemsMain, '--icon-l, --title-normal')
      +section
        +tabs-head(tabsHeadSticker, false, '--fw-light, --orange, --no-item-border, --d-gradient-line')
        +tabs-main
          +tabs-main__item(true)
            +section('--mt0')
              .inner
                +payment-sticker
          +tabs-main__item
            +section('--mt0')
              .inner
                +instruction(instruction, '--img-xl, --steps-pt, --m-text-start')
          +tabs-main__item
            +section('--mt0')
              .inner
                +accordion
                  +accordion-item('Что такое платежный стикер?')
                    +ui-p1('Это уменьшенная копия вашей основной карты с&nbsp;клеевым слоем, используется в&nbsp;качестве альтернативы платежным сервисам Apple Pay и&nbsp;Google Pay. Стикер можно приклеить к&nbsp;поверхности предмета (на&nbsp;смартфон или брелок), с&nbsp;помощью которого вам будет удобно оплачивать покупки.', '--light')
                  +accordion-item('Как получить стикер?')
                    +ui-p1('Оставьте заявку на&nbsp;выпуск стикера к&nbsp;бизнес-карте Мир <a class="text-orange" href="#form-section">онлайн</a> или <a class="text-orange" href="/atms/" target="_blank">в&nbsp;любом отделении АТБ</a>', '--light')
                  +accordion-item('Сколько стоит платежный стикер?')
                    +ui-p1('Комиссия за&nbsp;выпуск&nbsp;&mdash; 700&nbsp;рублей, стоимость обслуживания в&nbsp;соответствии с&nbsp;тарифами банка.', '--light')
                  +accordion-item('К&nbsp;какой карте можно выпустить платежный стикер?')
                    +ui-p1('Стикер можно выпустить только для&nbsp;бизнес-карты Мир.', '--light')

      +section
        +tabs-head(tabsHeadItems, false, '--fw-light, --orange, --no-item-border, --inner-line')
        +tabs-main
          +tabs-main__item(true)
            +section('--mt0')
              .inner
                +cards-terms(cardTermsData)
          +tabs-main__item.js-auto-height-table
            +section('--mt0')
              .inner
                +cards-table
          //- +tabs-main__item
            +section('--mt0')
              .inner
                +section-head('--max-w900')
                  +ui-h2('Преимущества карты', 'section-head')
                  +ui-p1('Откройте мир возможностей с бизнес-картой АТБ. Получите круглосуточный доступ к расчётному счёту. <br> Совершайте платежи, снимайте наличные, сокращайте операционные расходы и время на отчёты.')
                +benefits(benefitsItems)
          +tabs-main__item
            +section('--mt0')
              .inner
                +section-head('--max-w900')
                  +ui-h2('Как работает кэшбэк', 'section-head')
                  +ui-p1('Получил карту и ...')
                +cards-cashback
                +section('--mt-s')
                  +benefits(benefitsItemsCashback, '--column-mob-row, --icon-l, --title-normal')
                +section('--mt-s')
                  +accordion
                    +accordion-item('Кэшбэк начисляется')
                      +ui-p1('', '--light')
                        p &mdash;&nbsp;на&nbsp;все совершенные безналичные операции в&nbsp;ТСП и&nbsp;сети Интернет (оплата товаров, работ, услуг) в&nbsp;месяц, кроме исключений
                    +accordion-item('Кэшбэк не начисляется за')#accordion-cashback-exceptions
                      +ui-p1('')
                        p
                          b Кэшбэк не&nbsp;начисляется за&nbsp;следующие категории
                      +ui-p1('', '--light')
                        +ui-ul('')
                          li снятие/внесение наличных через банкоматы/платежные терминалы;
                          li любые пополнения Карты;
                          li получение денежных средств через банкоматы, терминалы, кассовые узлы и&nbsp;т.п.;
                          li перевод денежных средств c&nbsp;Карты (в&nbsp;том числе, по&nbsp;банковским переводам, переводам по&nbsp;реквизитам карты другого банка и&nbsp;т.п.);
                          li платежи и&nbsp;переводы по&nbsp;пополнению любых виртуальных и/или электронных кошельков или иных электронных денежных средств;
                      br
                      +ui-p1('')
                        p
                          b Операции с МСС:
                      +ui-p1('', '--light')
                        +ui-ul('')
                          li 4812, 4813, 4814, 4815, 4816, 4821, 4829, 4899, 4900,
                          li 5094, 5933, 5960, 5999,
                          li 6010, 6011, 6012, 6050, 6051, 6211, 6300, 6513, 6529, 6530, 6531, 6532, 6533, 6534, 6535, 6536, 6537, 6538, 6540,
                          li 7311, 7276, 7299, 7321, 7372, 7399, 7800, 7801, 7802, 7995,
                          li 8999,
                          li 9211, 9222, 9223, 9311, 9399, 9402, 9754.
          +tabs-main__item
            +section('--mt0')
              .inner
                +section-head
                  +ui-h2('Вопросы и ответы', 'section-head')
                +tabs-head([ { text: 'О карте' }, { text: 'Уплата налогов' } ], true, '--simple')
                +tabs-main
                  +tabs-main__item(true)
                    +accordion
                      +accordion-item('Кто может оформить Бизнес карту АТБ?')
                        +ui-p1('', '--light')
                          | Бизнес-карту можно оформить на&nbsp;любого сотрудника Клиента, путем личного обращения Клиента в&nbsp;Банк, либо если Клиент уже обслуживается в&nbsp;АТБ, то&nbsp;заказать бизнес карту в&nbsp;Системе Интернет-банкинг или
                          =' '
                          a.text-orange(href='https://my.atb.su/getapp', target='_blank') Мобильном приложении
                      +accordion-item('Как активировать карту и начать ею пользоваться?')
                        +ui-p1('', '--light')
                          | При получении бизнес карты в&nbsp;кассе установите пин-код, после чего ваша карта будет активна.
                      +accordion-item('Что можно оплачивать Бизнес картой?')
                        +ui-p1('', '--light')
                          | Любые товары и&nbsp;услуги в&nbsp;интернете и&nbsp;в&nbsp;торгово-сервисных предприятиях по&nbsp;всему миру. По&nbsp;каждой карте есть возможность установить индивидуальные лимиты на&nbsp;снятие наличных и&nbsp;безналичную оплату.
                      +accordion-item('Как перевыпустить или заказать вторую и последующие карты?')
                        +ui-p1('', '--light')
                          | Перевыпустить или заказать вторую и&nbsp;последующие карты можно в&nbsp;системе Интернет-банкинг или
                          =' '
                          a.text-orange(href='https://my.atb.su/getapp', target='_blank') Мобильном приложении
                          | , путем личного обращения в&nbsp;Банк. Вы&nbsp;можете выпустить неограниченное количество карт к&nbsp;одному ККС.
                      +accordion-item('В чём удобство использования бизнес-карты для&nbsp;бухгалтерии и&nbsp;какими документами подтверждаются операции по&nbsp;карте?')
                        +ui-p1('', '--light')
                          | С&nbsp;помощью карт осуществляется оплата представительских, хозяйственных, а&nbsp;также расходов на&nbsp;основную деятельность компании, выдача наличных. Подтверждением проведения операций и&nbsp;документом для&nbsp;первичной отчётности бухгалтерии является чек.
                      +accordion-item('Как получить информацию об&nbsp;операциях по&nbsp;картам?')
                        +ui-p1('', '--light')
                          | О&nbsp;последних 10&nbsp;операциях и&nbsp;доступном остатке по&nbsp;карте вы&nbsp;можете узнать в&nbsp;банкоматах банка, историю операций можно увидеть в&nbsp;выписке, сформированной в&nbsp;системе Интернет-банкинг.
                      +accordion-item('Можно ли оплачивать покупки в&nbsp;интернете бизнес-картой?')
                        +ui-p1('', '--light')
                          | Да, можно. для&nbsp;оплаты в&nbsp;интернете понадобится номер карты, срок её&nbsp;действия, код безопасности (CVV2/CVC2)&nbsp;&mdash; три цифры на&nbsp;полосе для&nbsp;подписи на&nbsp;оборотной стороне карты.
                      +accordion-item('Можно ли использовать бизнес-карту за&nbsp;рубежом?')
                        +ui-p1('', '--light')
                          | Да, сотрудники компании могут использовать бизнес-карту в&nbsp;зарубежных поездках для&nbsp;оплаты товаров и&nbsp;услуг либо для&nbsp;снятия наличных.
                      +accordion-item('Сколько карт можно выпустить к&nbsp;одному ККС?')
                        +ui-p1('', '--light')
                          | Можно выпустить любое количество бизнес-карт, ограничений нет.
                      +accordion-item('Существуют ли ограничения по&nbsp;выдаче наличных с&nbsp;бизнес-карты?')
                        +ui-p1('', '--light')
                          | Держатель бизнес-карты может получать наличные с&nbsp;ККС в&nbsp;пределах установленного лимита, но&nbsp;не&nbsp;более 499&nbsp;999 рублей в&nbsp;сутки и&nbsp;не&nbsp;более 5&nbsp;000&nbsp;000 рублей в&nbsp;течение календарного месяца.
                  +tabs-main__item
                    +accordion
                      +accordion-item('Уплата налогов, связанных с&nbsp;получением денежных призов')
                        +ui-p1('Компании несут самостоятельно обязанности по&nbsp;исчислению и&nbsp;уплате налогов, связанных с&nbsp;получением кэшбэка, а&nbsp;также ответственность за&nbsp;неисполнение этой обязанности. В&nbsp;период ближайшей налоговой отчетности компании необходимо включить полученную сумму кэшбэка в&nbsp;состав своих доходов и&nbsp;уплатить налог в&nbsp;соответствии с&nbsp;установленным режимом налогообложения своей компании.', '--light')
                      +accordion-item('У вас ЕНВД/Патент')
                        +ui-p1('Сумма налога не&nbsp;связана с&nbsp;размером полученного дохода. Полученный кэшбэк не&nbsp;требует учета. (Дополнительно проконсультируйтесь со&nbsp;своей Налоговой службой).', '--light')
                      +accordion-item('У вас УСН/ОСНО')
                        +ui-p1('', '--light')
                          p Отразите доход в&nbsp;текущем периоде как Прочие доходы:
                          p ФАКТ Получение денежных средств на&nbsp;бизнес-карту
                            br
                            | ПРОВОДКА Дт&nbsp;сч.&nbsp;55&nbsp;ССБ Кт&nbsp;сч.&nbsp;91&nbsp;&laquo;Прочие доходы&raquo; в&nbsp;момент получения денег
                          p ФАКТ Получение товаров, работ, услуг на&nbsp;сумму &laquo;накопленных баллов&raquo;
                            br
                            | ПРОВОДКА Дт&nbsp;сч. 10/20/25/97&nbsp;Кт сч.&nbsp;91&nbsp;&laquo;Прочие доходы&raquo; в&nbsp;момент получения товаров, работ, услуг в&nbsp;счет &laquo;накопленных баллов&raquo;.
      +section
        .inner
          +how-get('Как получить карту', howGetItems)
      +section
        .inner
          +mob-banner
      //- +section
      //-   .inner
      //-     +mir-discounts
      +section('--cards-open-acc')#form-section
        .inner
          +cards-open-acc
      +section
        .inner
          +accordion
            +accordion-item('Документы')
              +documents
              +tabs-head([ { text: 'Заявления' }, { text: 'Тарифы' } ], true, 'accordion-item')
              +tabs-main
                +tabs-main__item(true)
                  +documents
                +tabs-main__item
                  +documents
