.card-express {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  @include media-tablet {
    grid-template-columns: 1fr;
    gap: 15px;
  }
  &--2items {
    grid-template-columns: repeat(2, 1fr);
  }
}
.card-express-item {
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 1fr auto;
  gap: 5px;
  padding: 34px 25px 34px 30px;
  @include media-tablet {
    padding: 23px 20px;
  }
  &__image {
    width: 100%;
    max-width: 140px;
    max-height: 100px;
    @include media-tablet {
      max-width: 100px;
      max-height: 71px;
    }
  }
  &--bg-grey {
    background: $grey20;
  }
}
