mixin cards-terms(data, mods)
  -
    const baseName = 'cards-terms'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .cards-terms(class=allMods)&attributes(attributes)
    +terms(data.terms, 'cards-terms')
    .cards-terms__img: img(src=data.img alt='')
    block
