mixin business-acc-tips(mods)
  -
    const baseName = 'business-acc-tips'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .business-acc-tips(class=allMods)&attributes(attributes)
    +ui-h2('Полезные советы', 'business-acc-tips')
    .business-acc-tips__txt
      p В настоящее время в бизнес-среде все больше говорят о легализации, отмывании и оптимизации доходов, а клиенты все чаще жалуются на запросы информации (документов), поступающих от банков.
      p Поэтому мы хотим рассказать Вам о требованиях банков в этой сфере и дать несколько полезных советов, чтобы Вы могли избежать неприятных последствий.
    .business-acc-tips__img
      img(src='img/business-acc-tips.png', alt='')
    +ui-button('Подробнее', 'business-acc-tips, --expand').text-orange(data-expand-btn='1' data-start-text='Подробнее' data-end-text='Свернуть')
    .business-acc-tips__hidden(data-expand-block='1')
      +accordion
        +accordion-item('Почему банк запрашивает документы по операциям по счету?', '--white')
          +ui-p1
            p На повестке дня у государства стоит борьба с легализацией и отмыванием денег<sup>[1]</sup>. В связи с этим государство обязывает банки перед тем как открыть счет и во время обслуживания клиентов получать информацию (документы) о целях работы клиента с банком, его финансово-хозяйственной деятельности, финансовом положении, деловой репутации, об источниках поступления денег и иного имущества, а также о выгодоприобретателях (получателях денежных средств), участниках (акционерах) клиента и прочее. <br>В свою очередь, на клиентов возлагается ответственность по предоставлению запрашиваемой информации (документов).
            p Давайте разберемся, что же такое «легализация», и что понимается под сомнительными операциями. <br><i>Легализация</i> – это придание правомерного вида владению, пользованию или распоряжению денежными средствами или иным имуществом, полученными преступным путем. <br>Процесс легализации происходит в банке в случае осуществления его клиентами операций, квалифицированных как сомнительные, поэтому банк вправе задавать вопросы таким клиентам.
          +section-footnote('1. Федеральный закон от 07.08.2001 № 115-ФЗ «О противодействии легализации (отмыванию) доходов, полученных преступным путем, и финансированию терроризма»', '--fz12')
        +accordion-item('Каковы критерии сомнительных операций, и как их отличить от несомнительных?', '--white')
          +ui-p1
            p Для этого определены более 120 признаков, которые помогают нам выявлять сомнительные операции и сделки.
            p Особенно жестко мы боремся с транзитными операциями - это когда на расчетный счет клиента происходит зачисление средств от большого количества контрагентов, а потом эти средства списываются со счета в течение одного-двух дней, при этом уплата налогов не осуществляется или осуществляется в незначительных размерах.
        +accordion-item('Какие могут быть последствия?', '--white')
          +ui-p1
            p Сложности для ведения бизнеса.
            p Например, банк имеет право:
            ul.ui-ul
              li заблокировать доступ к дистанционным каналам и карты клиента при выявлении сомнительных операций;
              li отказать в совершении операции, а в случае двух таких отказов – расторгнуть договор банковского расчетного счёта в одностороннем порядке.
            p Сложности в обслуживании счетов, открываемых клиентом в других банках.
            p Запомните правило – о тех операциях клиента, которые банк сочтет сомнительными, он уведомит специальный орган – Росфинмониторинг, это законодательно закрепленная обязанность банка. Также банк может отказать в открытии счета, в проведении операций по счету (РКО), может заблокировать доступ к дистанционным каналам и даже закрыть счет в одностороннем порядке. Информация о данных фактах направляется Банком России в остальные банки. Мы, как и другие банки, учитываем такую информацию, и при высоком риске совершения клиентом сомнительных операций обязательно принимаем меры.
        +accordion-item('Как избежать подобных рисков?', '--white')
          +ui-p1
            p Мы подготовили несколько подсказок, чтобы уберечь Ваш бизнес от рисков.
            p
              b ПОДСКАЗКА 1: ПРОВЕРЯЙТЕ ВАШИХ ДЕЛОВЫХ ПАРТНЕРОВ
            p Пользуйтесь сервисом ИФНС «Проверь себя и контрагента»
              =' '
              a.text-orange(href='https://egrul.nalog.ru/') https://egrul.nalog.ru/
              | . Спомощью данного сервиса можно узнать следующую информацию:
            ul.ui-ul
              li находится ли Ваш партнер по бизнесу (контрагент)/ его представители в реестре дисквалифицированных лиц;
              li является ли адрес Вашего контрагента адресом массовой регистрации;
              li установлен ли в отношении Вашего контрагента/ его представителей факт невозможности участия (осуществления руководства) в организации;
              li находится ли Ваш контрагент по своему адресу регистрации;
              li имеется ли у Вашего контрагента задолженность по уплате налогов и/ или непредставленная более года налоговая отчетность;
              li является ли Ваш контрагент массовым руководителем и/ или акционером (участником).\
            br
            p
              b ПОДСКАЗКА 2: ИСПОЛНЯЙТЕ СВОЮ ОБЯЗАННОСТЬ ПО УПЛАТЕ НАЛОГОВ
            p Мнение Банка России категорично: доля налогов в списаниях с расчетного счета должна быть никак не меньше 0,9%!
            br
            p
              b ПОДСКАЗКА 3: ОДИН РАСЧЕТНЫЙ БАНК
            p Используйте счет в одном банке и для расчетов в рамках Вашей основной деятельности, и для налоговых платежей. <br> Если у Вас есть договоры на обслуживание расчетного счета в нескольких банках, то о факте уплаты налогов по счету в одном банке другой банк не знает, поэтому может запросить у Вас подтверждение уплаты налогов.
            br
            p
              b ПОДСКАЗКА 4: НЕ СНИМАЙТЕ МНОГО НАЛИЧНЫХ
            p Предельный размер наличных расчетов в рамках одного договора между юридическими лицами и ИП не должен превышать 100 000 рублей. <br>Снятие больших объемов наличных (80% от оборота и более) – квалифицируется банком как сомнительная операция по расчетному счету. <br>Поэтому максимально переводите расчеты в безналичную форму – это просто, удобно и безопасно.
            br
            p
              b ПОДСКАЗКА 5: ПОДРОБНО ЗАПОЛНЯЙТЕ НАЗНАЧЕНИЕ ПЛАТЕЖА
            p В платежном поручении указывайте:
            ul.ui-ul
              li назначение платежа;
              li наименование товаров, работ, услуг;
              li номера и даты договоров, товарных документов и другую информацию.
            p Чем подробнее и понятнее заполнено назначение платежа, тем меньше вопросов возникнет у банка.
            br
            p
              b ПОДСКАЗКА 6: ЕСЛИ ПЛАТИТЕ ФИЗИЧЕСКИМ ЛИЦАМ, ПЛАТИТЕ НДФЛ
            p При выплате вознаграждения физическому лицу предприниматель/ организация признается налоговым агентом и должна удержать и перечислить НДФЛ в бюджет РФ не позднее следующего дня после выплаты налогоплательщику дохода. <br> Поэтому обязательно платите НДФЛ при расчетах с физическими лицами.
            br
            p
              b ПОДСКАЗКА 7: ПРАВИЛЬНО ОФОРМЛЯЙТЕ ДОКУМЕНТЫ С КОНТРАГЕНТАМИ
            p Оформление договора с контрагентом с отражением всех условий поставки товаров/ услуг – это защита Ваших интересов. А правильное оформление документов по отгрузке/ получению товара поможет избежать спорных ситуаций по исполнению договора.
            br
            p
              b ПОДСКАЗКА 8: ПРЕДОСТАВЛЯЙТЕ ДОКУМЕНТЫ ПО ЗАПРОСУ БАНКА
            p Банк обязан собирать сведения и документы по банковским операциям и иным сделкам, а клиент обязан их предоставлять.
              br
              | Непредоставление/ несвоевременное предоставление клиентом информации (документов) может привести к отказу банка в совершении операций по счету и к его закрытию. Также предприниматель/ компания будет включен в «черный список клиентов» Банка России, что может привести к серьезным сложностям по обслуживанию в банках.
              br
              | Поэтому, предоставляйте документы и информацию по запросу банка своевременно.
              br
              | Помогите банку защитить репутацию Вашего бизнеса перед Росфинмониторингом и Банком России!

    block
