.attention {
  position: relative;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px 20px 140px;
  background: #ffedd8;
  border-radius: 8px;
  @include media-tablet {
    padding: 15px 15px 30px;
    flex-direction: column;
    align-items: flex-start;
  }
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
    width: 58px;
    height: 58px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='58' height='58' viewBox='0 0 58 58' fill='none'%3E%3Cpath d='M29.5274 16.7409C31.9001 16.7409 33.7456 14.7636 33.7456 12.5227C33.7456 10.15 31.7683 8.30455 29.5274 8.30455C27.1547 8.30455 25.3092 10.2818 25.3092 12.5227C25.3092 14.7636 27.2865 16.7409 29.5274 16.7409ZM29.5274 9.88636C30.9774 9.88636 32.1638 11.0727 32.1638 12.5227C32.1638 13.9727 30.9774 15.1591 29.5274 15.1591C28.0774 15.1591 26.891 13.9727 26.891 12.5227C27.0228 11.0727 28.2092 9.88636 29.5274 9.88636ZM13.4456 49.1682C10.1501 46.7955 7.51376 43.5 5.66831 39.9409C3.69103 36.1182 2.76831 32.0318 2.76831 27.8136C2.90012 20.8273 5.53649 14.2364 10.5456 9.35909C15.5547 4.48182 22.1456 1.71364 29.1319 1.71364C33.3501 1.71364 37.3047 2.63636 40.8638 4.48182L44.291 6.59091C51.2774 11.7318 55.3638 19.7727 55.3638 28.0773C55.3638 34.1409 53.2547 40.0727 49.3001 44.6864C48.2456 46.0045 47.5865 47.4545 47.3228 49.0364C47.0592 50.2227 46.7956 52.0682 47.4547 53.9136C47.5865 54.4409 47.4547 55.2318 47.0592 55.6273C46.5319 56.1545 46.0047 56.1545 45.4774 56.1545C43.7638 55.6273 42.0501 54.8364 40.3365 53.9136C39.0183 53.1227 37.4365 52.9909 35.8547 53.3864C33.6138 53.9136 31.3728 54.3091 28.8683 54.3091C24.6501 54.3091 20.6956 53.2545 17.0047 51.2773L13.4456 49.1682ZM16.0819 52.7273C20.0365 54.7045 24.2547 55.8909 28.7365 55.8909C31.241 55.8909 33.6138 55.6273 36.1183 54.9682C37.1728 54.7045 38.3592 54.8364 39.2819 55.3636C40.9956 56.2864 42.9728 57.2091 44.8183 57.7364C45.0819 57.8682 45.4774 57.8682 45.741 57.8682C46.6638 57.8682 47.4547 57.4727 48.1138 56.8136C49.0365 55.8909 49.3001 54.5727 48.9047 53.3864C48.5092 52.2 48.5092 51.0136 48.7729 49.1682C48.9047 47.85 49.6956 46.6636 50.3547 45.6091C54.5728 40.7318 56.6819 34.2727 56.8138 27.8136C56.8138 18.85 52.4638 10.2818 45.0819 5.00909L41.5229 2.9C37.5683 0.922727 33.3501 0 29.0001 0C21.6183 0 14.6319 2.9 9.2274 8.17273C3.95467 13.4455 1.05467 20.4318 0.922852 27.8136C0.922852 32.2955 1.9774 36.7773 3.95467 40.7318C5.93194 44.5545 8.83194 47.9818 12.391 50.6182L16.0819 52.7273ZM20.8274 40.9955V41.9182C20.8274 43.5 22.1456 44.8182 23.7274 44.8182H35.4592C37.041 44.8182 38.3592 43.5 38.3592 41.9182V40.9955C38.3592 39.4136 37.041 38.0955 35.4592 38.0955H33.8774V21.75C33.8774 20.8273 33.3501 19.9045 32.5592 19.3773C31.7683 18.85 30.7138 18.7182 29.791 19.1136C28.341 19.6409 26.891 20.0364 25.3092 20.1682L22.541 20.3C21.4865 20.4318 20.5638 21.2227 20.5638 22.2773V23.8591C20.5638 25.0455 21.4865 25.8364 22.541 25.8364H24.9138C25.0456 25.8364 25.0456 25.9682 25.0456 25.9682V37.9636H23.7274C22.1456 37.9636 20.8274 39.2818 20.8274 40.9955ZM26.2319 39.6773C26.7592 39.6773 27.1547 39.2818 27.1547 38.7545V25.9682C27.1547 25.0455 26.3638 24.1227 25.3092 24.1227H22.9365C22.8047 24.1227 22.6728 23.9909 22.6728 23.8591V22.1455C22.6728 22.0136 22.8047 21.8818 22.9365 21.8818L25.7047 21.75C27.4183 21.6182 29.1319 21.2227 30.7138 20.5636C31.1092 20.4318 31.5047 20.4318 31.9001 20.6955C32.2956 20.8273 32.4274 21.2227 32.4274 21.6182V38.8864C32.4274 39.4136 32.8228 39.8091 33.3501 39.8091H35.7229C36.3819 39.8091 37.041 40.3364 37.041 41.1273V42.05C37.041 42.7091 36.5138 43.3682 35.7229 43.3682H23.8592C23.2001 43.3682 22.541 42.8409 22.541 42.05V41.1273C22.541 40.4682 23.0683 39.8091 23.8592 39.8091L26.2319 39.6773Z' fill='url(%23paint0_linear_1830_574)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_1830_574' x1='12.4504' y1='57.8682' x2='61.7655' y2='42.9615' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FE5000'/%3E%3Cstop offset='1' stop-color='%23FCA92A'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    @include media-tablet {
      top: 15px;
      left: 15px;
      transform: none;
      width: 48px;
      height: 48px;
    }
  }
  &__txt {
    margin-right: 10px;
    @include media-tablet {
      margin-right: 0;
      margin-bottom: 20px;
      padding-left: 65px;
    }
  }
  &__title {
    font: 700 24px/1.4 $font;
    color: $orange;
    @include media-tablet {
      font-size: 20px;
    }
  }
  &__desc {
    font: 700 16px/1.4 $font;
    @include media-tablet {
      font-size: 14px;
    }
  }
  &__ui-button {
    flex-shrink: 0;
    @include media-tablet {
      width: 100%;
      text-align: center;
    }
  }
}
