mixin blog-item(img, mods)
  -
    const baseName = 'blog-item'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  a.blog-item(class=allMods href='#')&attributes(attributes)
    .blog-item__img
      img(src=`img/blog_img_${img}.jpg` alt='')
    .blog-item__content.bvi-no-styles
      .blog-item__label Финансы
      .blog-item__title Энергетики пришли с проверкой: как себя  вести, чтобы не платить лишнего
      .blog-item__info
        .blog-item__date 18 февраля
        .blog-item__view
          +icon('icon_view')
          | 112
    block
